#map-canvas{
  width: 100% !important;
  height: 100% !important;
}

#campus-change {
  --background: var(--ConcordiaRed);
  color: white;

  .select-campus{
    position: absolute;
  }
}


#position-marker{
  width: 15px;
  height: 15px;
  background-color: blue;
  border: 1px solid white;
  border-radius: 50%;
}
