<div id="google-map-component">
  <agm-map
    [style.height.px]="height"
    [zoom]="14"
    [latitude]="latitude"
    [longitude]="longitude"
    [gestureHandling]="'greedy'"
    id="map"
  >
    <agm-polygon
            [paths]="hallCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">

    </agm-polygon>

    <agm-polygon
            [paths]="jmsbCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">

    </agm-polygon>

    <agm-polygon
            [paths]="lbCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="fgCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="fbCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="evCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="gmCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="gnCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="annexCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="tdCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="vaCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="adCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="ccCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="spCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="cjCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="vlCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="ptCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="scCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="haCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="raCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="pyCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-polygon
            [paths]="fcCoords"
            [fillColor]="concordiaRed"
            [fillOpacity]="0.3"
            [strokeColor]="concordiaRed"
            [strokeWeight]="2">
    </agm-polygon>

    <agm-marker
      *ngFor="let m of markers"
      [iconUrl]="positionMarkerIcon"
      [latitude]="m.latitude"
      [longitude]="m.longitude"
    >
    </agm-marker>

    <ng-container *ngIf="origin && destination">
      <agm-direction
        [origin]="origin"
        [destination]="destination"
        [travelMode]="'WALKING'"
        [renderOptions]="walkingOptions.renderOptions"
      >
      </agm-direction>

      <agm-direction
              [origin]="origin"
              [destination]="destination"
              [travelMode]="'TRANSIT'"
              [renderOptions]="transitOptions.renderOptions"
      >
      </agm-direction>

      <agm-direction
              [origin]="origin"
              [destination]="destination"
      ></agm-direction>

      <agm-polygon
              [paths]="hallCoords"
              [fillColor]="concordiaRed"
              [fillOpacity]="0.5"
              [strokeColor]="concordiaRed"
              [strokeWeight]="2">

      </agm-polygon>
    </ng-container>
  </agm-map>
</div>
