<div id="google-map-component">

  <agm-map  [style.height.px]="height"
            [zoom]="14"
            [latitude]="latitude"
            [longitude]="longitude"
            [gestureHandling]="greedy"
            id='map'>

    <agm-marker *ngFor="let m of markers"
                [iconUrl]="positionMarkerIcon"
                [latitude]="m.latitude"
                [longitude]="m.longitude">
    </agm-marker>

    <ng-container *ngIf="origin && destination">
      <agm-direction  [origin]="origin"
                      [destination]="destination"
                      [travelMode]="'WALKING'"
                      [renderOptions]="walkingOptions.renderOptions">
      </agm-direction>

      <agm-direction  [origin]="origin"
                      [destination]="destination"
                      [travelMode]="'TRANSIT'"
                      [renderOptions]="transitOptions.renderOptions">
      </agm-direction>

      <agm-direction [origin]="origin" [destination]="destination"></agm-direction>
    </ng-container>

  </agm-map>
</div>
