<div class="input-group">
  <!-- <input
    id="source"
    list="interestPoints"
    [(ngModel)]="prettySource"
    value="{{prettySource}}"
    type="text"
    (keydown.enter)="$event.preventDefault()"
  />
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>Starting Point</label> -->
  <ion-item >
    <ion-label>{{'start-point'| translate}}</ion-label>
    <ion-select [(ngModel)]="prettySource" value="{{prettySource}}" class="select-option">
      <ion-select-option *ngFor="let point of prettyPoints" value="{{point.name}}">{{point.name}}</ion-select-option>
    </ion-select>
  </ion-item>
</div>

<div class="input-group">
  <!-- <input
    id="destination"
    list="interestPoints"
    [(ngModel)]="prettyDestination"
    value="{{prettyDestination}}"
    type="text"
    (keydown.enter)="$event.preventDefault()"
  />
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>Destination</label> -->
  <ion-item >
    <ion-label>{{'destination'| translate}}</ion-label>
    <ion-select [(ngModel)]="prettyDestination" value="{{prettyDestination}}" class="select-option">
      <ion-select-option *ngFor="let point of prettyPoints" value="{{point.name}}">{{point.name}}</ion-select-option>
    </ion-select>
  </ion-item>
</div>

<ion-button id="goButton" (click)="lookForPath()" shape="square">{{'go'| translate}}</ion-button>

<datalist id="interestPoints" autocomplete="on">
  <div *ngFor="let point of prettyPoints">
    <option value="{{point.name}}"> </option>
  </div>
</datalist>
