<div class="input-group">
  <ion-item>
    <ion-label>{{ 'start-point' | translate }}</ion-label>
    <ion-select
      [(ngModel)]="prettySource"
      value="{{ prettySource }}"
      class="select-option"
    >
      <ion-select-option
        *ngFor="let point of prettyPoints"
        value="{{ point.name }}"
        >{{ point.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>
</div>

<div class="input-group">
  <ion-item>
    <ion-label>{{ 'end-location' | translate }}</ion-label>
    <ion-select
      [(ngModel)]="prettyDestination"
      value="{{ prettyDestination }}"
      class="select-option"
    >
      <ion-select-option
        *ngFor="let point of prettyPoints"
        value="{{ point.name }}"
        >{{ point.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>
</div>

<ion-button id="goButton" (click)="lookForPath()" shape="square">{{
  'go' | translate
}}</ion-button>

<datalist id="interestPoints" autocomplete="on">
  <div *ngFor="let point of prettyPoints">
    <option value="{{ point.name }}"> </option>
  </div>
</datalist>
