<div *ngIf="isReady; then isLoaded else notLoaded"></div>
<ng-template #isLoaded>
  <ion-header id="header">
    <ion-icon class="logo-google" name="logo-google" [color]="googleSession ? 'secondary' : 'primary'" size="large"></ion-icon>
    <ng-template [ngIf]="!googleSession">
      <ion-button class="login-button" size="large" (click)="login()">
        <ion-icon name="link"></ion-icon>
      </ion-button>
    </ng-template>
    <strong id="calendar">
      {{ 'calendar-title' | translate }}
    </strong>
    <!-- to center the title -->
    <ion-icon name="md-close" size="large" color="black" (click)="close()"></ion-icon>
  </ion-header>

  <h3 id="title">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  <div class="outside-wrapper">
    <div class="month-change-buttons">
      <button
        id="today"
        class="buttondiv"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        <ion-label>{{'today'| translate}}</ion-label>
      </button>
      <button class="buttondiv back">
        <ion-icon
          name="ios-arrow-back"
          color="black"
          size="medium"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
        >
        </ion-icon>
      </button>
      <button class="buttondiv front">
        <ion-icon
          name="ios-arrow-forward"
          color="black"
          size="medium"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
        >
        </ion-icon>
      </button>
    </div>
    <div class="view-calendar">
      <button
        class="buttondiv back back2"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        <ion-label>{{'month'| translate}}</ion-label>
      </button>
      <button
        class="buttondiv"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        <ion-label>{{'week'| translate}}</ion-label>
      </button>
      <button
        class="buttondiv front"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        <ion-label>{{'day'| translate}}</ion-label>
      </button>
    </div>
  </div>

  <div [ngSwitch]="view" class="calendar-body">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="requestDirections($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
    >
    </mwl-calendar-day-view>
  </div>
</ng-template>

<ng-template #notLoaded>
  <mat-progress-spinner mode="indeterminate" style="margin: auto;"></mat-progress-spinner>
</ng-template>
