<ion-fab vertical="start" horizontal="start" slot="fixed">
  <ion-fab-button>
    <ion-icon name="calendar" (click)="openCalendar()"></ion-icon>
  </ion-fab-button>
  <ion-fab-button>
    <ion-icon name="pin"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab
  vertical="bottom"
  horizontal="start"
  slot="fixed"
  class="navPopover"
>
  <ng-container *ngIf="!showToa">
    <ion-fab-button class="nav-button" (click)="presentPopover()">
      <ion-icon name="compass"></ion-icon>
    </ion-fab-button>
  </ng-container>
  <ng-container *ngIf="showToa">
    <ion-fab-button class="close-button" (click)="cancelPath()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ng-container>
</ion-fab>

<ion-fab vertical="start" horizontal="end" slot="fixed">
  <ion-fab-button (click)="showInfo()" class="informationButton">
    <ion-icon name="information"></ion-icon>
  </ion-fab-button>
</ion-fab>
