ion-icon {
  color: black;
  font-size: 30px;
}
ion-fab-button {
  --background: white;
  margin: 10px 0 10px 0;
}

.nav-button {
  margin-left: 10px;
}

ion-fab{
  position: fixed;
}

.fab-vertical-bottom {
  margin-bottom: 50px !important;
}
