<div id="poi-popover">
  <ion-list>
    <ion-item class="toggle-item">
      <ion-label>{{'restaurant-poi'| translate}}</ion-label>
      <ion-toggle
        [(ngModel)]="restaurants"
        (ionChange)="update('restaurant')"
      ></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>{{'coffee-poi'| translate}}</ion-label>
      <ion-toggle
        [(ngModel)]="coffee"
        (ionChange)="update('coffee shop')"
      ></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>{{'gas-poi'| translate}}</ion-label>
      <ion-toggle
        [(ngModel)]="gas"
        (ionChange)="update('gas station')"
      ></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>{{'drugstore-poi'| translate}}</ion-label>
      <ion-toggle
        [(ngModel)]="drugstore"
        (ionChange)="update('drugstore')"
      ></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>{{'hotel-poi'| translate}}</ion-label>
      <ion-toggle
        [(ngModel)]="hotels"
        (ionChange)="update('hotel')"
      ></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label></ion-label>
      <ion-toggle
        [(ngModel)]="grocery"
        (ionChange)="update('groceries')"
      ></ion-toggle>
    </ion-item>
  </ion-list>
</div>
