<div class="mb1-plan-wrapper" id="mb1-plan-wrapper">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
    <g display="inline" id="g3906">
      <path
        fill="#ffffff"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m357.032966,146.85714l102.14286,734.28572l15.71428,0l32.14286,111.42857l226.42857,0l0,8.57147l46.42857,0l0,9.2857l198.92857,0l0,-354.12413l-128.79854,0l0,-543.73304l-36.5586,0l0,17.14285l-184.28571,0l0,-16.42857l-25,0l0,-15.714282l-208.57143,0l0,49.285712l-38.57143,0z"
        id="path3908"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m516.318676,97.571428l0,71.428572l29.28572,0l0,38.57143l72.14285,0l0,-94.28572l-13.57142,0l0,-15.714282l-87.85715,0z"
        id="path3910"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m617.747246,153.28571l35,0l17.66827,30.60234l0,52.96909l179.60462,0l0,-124.28571l-36.5586,0l0,17.14285l-184.28571,0l0,-16.42857l-11.42858,0l0,40z"
        id="path3912"
      />

      <!-- Classroom MB1.210 -->
      <path
        id="mb1-210"
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m547.747246,241.14286l62.85715,0l199.32896,53.41003l0,179.44711l-178.12618,47.72877l-84.05993,0l0,-280.58591z"
      />

      <!-- Elevators -->
      <rect
        id="elevator1"
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        width="42.104248"
        height="41.428608"
        x="613.461536"
        y="540.42859"
      />
      <rect
        id="elevator2"
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        width="37.880692"
        height="41.428589"
        x="655.565786"
        y="540.42859"
      />
      <rect
        id="elevator3"
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        width="40.015049"
        height="41.42857"
        x="693.446456"
        y="540.42859"
      />
      <rect
        id="elevator4"
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        width="41.785706"
        height="39.285767"
        x="613.461536"
        y="625.42853"
      />
      <rect
        id="elevator5"
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        width="38.928589"
        height="39.285767"
        x="655.247246"
        y="625.42853"
      />
      <rect
        id="elevator6"
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        width="39.285702"
        height="39.285767"
        x="694.175826"
        y="625.42853"
      />

      <!-- Bathroom? -->
      <path
        id="wc1"
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m769.211536,764.71875l0,45.375l0,22.47462l24.25,0l0,-22.47462l56.5625,0l0,-45.375l-80.8125,0z"
      />
      <rect
        id="wc2"
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        width="26.011425"
        height="22.477646"
        x="824.008716"
        y="810.09375"
      />
      <rect
        id="wc3"
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        width="30.54718"
        height="22.477646"
        x="793.461536"
        y="810.09375"
      />

      <!-- Stairs and Escalator down -->
      <path
        id="down"
        fill="#ffffff"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m423.692656,626.06103l85.84031,0l0,168.29611"
      />

      <!-- NODE POINT-->
      <circle cx="510" cy="931" r="100" fill="transparent" id="entrance" />
      <!-- entrance (main reference)-->
      <circle cx="824" cy="843" r="60" fill="transparent" id="wc" />
      <!-- (ENW) bathroom -->
      <circle cx="674" cy="603" r="100" fill="transparent" id="elevator" />
      <!-- (WN) elevator-->
      <circle
        cx="485"
        cy="780"
        r="60"
        fill="transparent"
        id="escalators-down"
      />
      <!-- (WN - N) Escalators -->
      <circle cx="455" cy="780" r="60" fill="transparent" id="stairs-down" />
      <!-- (WN - N) Stairs down-->
      <circle cx="560" cy="500" r="5" fill="transparent" id="mb1-210" />
      <!-- (N) node to classroom -->
      <circle cx="530" cy="500" r="30" fill="transparent" id="stairs-up" />
      <!-- (N) Stairs up-->
      <circle cx="480" cy="200" r="100" fill="transparent" id="out" />
      <!-- (WN - N) get out-->

      <!-- LINES BETWEEN POINTS-->
      <!--bathroom-->
      <line
        x1="510"
        y1="931"
        x2="560"
        y2="931"
        style="stroke:transparent; stroke-width:4"
        id="line1"
      />
      <line
        x1="560"
        y1="931"
        x2="700"
        y2="931"
        style="stroke:transparent; stroke-width:4"
        id="line2"
      />
      <line
        x1="700"
        y1="931"
        x2="700"
        y2="843"
        style="stroke:transparent; stroke-width:4"
        id="line3"
      />
      <line
        x1="700"
        y1="843"
        x2="824"
        y2="843"
        style="stroke:transparent; stroke-width:4"
        id="line4"
      />
      <!-- Bathroom -->

      <!--escalator-->
      <line
        x1="560"
        y1="931"
        x2="560"
        y2="820"
        style="stroke:transparent; stroke-width:4"
        id="line5"
      />
      <line
        x1="560"
        y1="820"
        x2="485"
        y2="820"
        style="stroke:transparent; stroke-width:4"
        id="line6"
      />
      <line
        x1="485"
        y1="820"
        x2="485"
        y2="780"
        style="stroke:transparent; stroke-width:4"
        id="line7"
      />
      <!-- Escalators -->
      <line
        x1="485"
        y1="820"
        x2="455"
        y2="820"
        style="stroke:transparent; stroke-width:4"
        id="line8"
      />
      <line
        x1="455"
        y1="820"
        x2="455"
        y2="780"
        style="stroke:transparent; stroke-width:4"
        id="line9"
      />
      <!-- Stairs -->

      <!--elevator-->
      <line
        x1="560"
        y1="820"
        x2="560"
        y2="603"
        style="stroke:transparent; stroke-width:4"
        id="line10"
      />
      <line
        x1="560"
        y1="603"
        x2="674"
        y2="603"
        style="stroke:transparent; stroke-width:4"
        id="line11"
      />
      <!-- Elevator -->

      <!--classroom-->
      <line
        x1="560"
        y1="603"
        x2="560"
        y2="542"
        style="stroke:transparent; stroke-width:4"
        id="line12"
      />
      <line
        x1="560"
        y1="542"
        x2="560"
        y2="500"
        style="stroke:transparent; stroke-width:4"
        id="line13"
      />
      <!-- Classroom -->

      <!--stairs-->
      <line
        x1="560"
        y1="542"
        x2="530"
        y2="542"
        style="stroke:transparent; stroke-width:4"
        id="line14"
      />
      <line
        x1="530"
        y1="542"
        x2="530"
        y2="500"
        style="stroke:transparent; stroke-width:4"
        id="line15"
      />

      <!--out-->
      <line
        x1="530"
        y1="542"
        x2="480"
        y2="542"
        style="stroke:transparent; stroke-width:4"
        id="line16"
      />
      <line
        x1="480"
        y1="542"
        x2="480"
        y2="200"
        style="stroke:transparent; stroke-width:4"
        id="line17"
      />

      <!--marker-->
      <image
        id="marker"
        href="../../../../assets/icon/logo_as_marker.png"
        height="50"
        width="50"
        x="560"
        y="500"
      />

      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m758.461536,236.85714l0,43.90392l51.47182,13.79183l0,179.44711l-122.0369,32.69969l0,33.72888l45.56508,0l0,41.42857l25.71429,0l0,-63.57143l90.84431,0l0,-281.42857l-91.5586,0z"
        id="path3916"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m687.896456,540.42857l-74.43492,0l0,-18.6998l18.34564,0l56.08928,-15.02908l0,33.72888z"
        id="path3918"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m514.175826,505.42857l0,-72.85714"
        id="path3920"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m514.175826,442.92857l33.57142,0"
        id="path3922"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m514.175826,402.21429l0,-164.28572"
        id="path3924"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3926"
        width="128.79854"
        height="176.26695"
        x="850.020126"
        y="656.30444"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3928"
        width="116.5584"
        height="100"
        x="733.461536"
        y="664.71429"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3930"
        width="39.999996"
        height="58.214287"
        x="759.175826"
        y="566.14288"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3932"
        width="90.844284"
        height="40.357124"
        x="759.175826"
        y="624.35718"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3934"
        width="50.844311"
        height="106.07146"
        x="799.175826"
        y="518.28571"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3936"
        width="40"
        height="47.857174"
        x="759.175826"
        y="518.28571"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3950"
        width="120"
        height="60.280552"
        x="613.461536"
        y="664.71429"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m681.586536,725l0,48.5l-7.34375,0l0,36.59375l31.84375,0l0,22.47462l20.9375,0l0,-22.47462l6.4375,0l0,-36.59375l0,-48.5l-51.875,0z"
        id="path3952"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3954"
        width="8.472274"
        height="45.379456"
        x="733.461536"
        y="764.71429"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3956"
        width="27.274118"
        height="45.379456"
        x="741.933826"
        y="764.71429"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m904.899036,832.5625l0,28.9375l-47.15625,0l-95.71875,0l0,66.4375l69.65625,0l0,19.28125l26.0625,0l0,-19.28125l0,-20.71875l70.375,0l0,103.21875l50.6875,0l0,-141.78125l0,-36.09375l-73.90625,0z"
        id="path3964"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m857.742786,907.21875l0,40l-26.0625,0l0,-19.28125l-69.65625,0l0,-18.9375l-28.5625,0l0,92.1562l28.5625,0l17.875,0l0,9.2813l77.84375,0l70.375,0l0,-103.21875l-70.375,0z"
        id="path3966"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3968"
        width="28.5625"
        height="34.285713"
        x="733.461536"
        y="874.71429"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m650.305286,792.03125l0,18.0625l0,22.46875l55.78125,0l0,-22.46875l-38.53125,0l0,-18.0625l-17.25,0z"
        id="path3970"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m596.711536,774.75l0,74.46875l53.59375,0l0,-57.1875l17.25,0l0,-17.28125l-17.25,0l-53.59375,0z"
        id="path3972"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3974"
        width="54.09375"
        height="49.755154"
        x="613.461536"
        y="724.99487"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3976"
        width="22.658794"
        height="19.955654"
        x="613.461536"
        y="754.79437"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m467.747256,626.06103l0,168.29611"
        id="path3980"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m439.934836,742.82299l27.81242,0"
        id="path3982"
      />
      <path
        fill="#ffffff"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m474.890106,881.14286l39.28572,0l-8.21429,-27.14286l-26.07143,0"
        id="path3984"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m514.175826,881.14286l30.71428,111.42857"
        id="path3986"
      />
      <path
        fill="#ffffff"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m406.858846,505.04597l40.88841,0l0,-177.83169l-32.14286,0l14.64286,97.85715"
        id="path3988"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m420.604396,327.21428l-17.85714,-130"
        id="path3990"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3992"
        width="33.214283"
        height="48.571426"
        x="395.604386"
        y="97.571426"
      />
      <rect
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        id="rect3994"
        width="127.98717"
        height="75.357147"
        x="722.032946"
        y="161.5"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m680.961536,194l28.57143,0c0,0 4.28572,-21.07143 -9.28571,-36.07143"
        id="path3997"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m655.247256,145.78571c27.85714,-16.07143 44.64288,-3.57143 55.71428,9.64286"
        id="path3999"
      />
      <path
        fill="#cccccc"
        stroke="#000000"
        stroke-width="2"
        stroke-miterlimit="4"
        d="m545.604396,169l0,-39.49008"
        id="path4001"
      />

      <text x="645" y="400">1.210</text>

    </g>
  </svg>
</div>
