.indoor-toa {
  margin-top: 10px;
  width: 16em;
}

ion-card-header{
  padding: 10px;
}

ion-card-title{
  font-size: 12px;
  text-align: center;
}

ion-card-content{
  padding: 10px;
  font-size: 12px;
  text-align: center;
}
