.indoor-toa{
  padding-top: 10px;
  margin: auto;
  padding-left: 65px;
}
ion-card{
  width: 260px;
}
ion-card-title{
  font-size: 20px;
  text-align: center;
}
ion-card-content{
  text-align: center;
}