<div id="poi-popover">
  <ion-list>
    <ion-item class="toggle-item">
      <ion-label>Restaurants</ion-label>
      <ion-toggle [(ngModel)]="restaurants" (ionChange)="update('restaurants')"></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>Coffee Shops</ion-label>
      <ion-toggle [(ngModel)]="coffee" (ionChange)="update('coffee shops')"></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>Gas Stations</ion-label>
      <ion-toggle [(ngModel)]="gas" (ionChange)="update('gas stations')"></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>Grugstore</ion-label>
      <ion-toggle [(ngModel)]="drugstore" (ionChange)="update('drugstores')"></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>Hotels</ion-label>
      <ion-toggle [(ngModel)]="hotels" (ionChange)="update('hotels')"></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>Grocery Stores</ion-label>
      <ion-toggle [(ngModel)]="grocery" (ionChange)="update('groceries')"></ion-toggle>
    </ion-item>
  </ion-list>
</div>
