<div id="poi-popover">
  <ion-list>
    <ion-item class="toggle-item">
      <ion-label>Restaurants</ion-label>
      <ion-toggle [(ngModel)]="restaurants"></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>Coffee Shops</ion-label>
      <ion-toggle [(ngModel)]="coffee"></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>Gas Stations</ion-label>
      <ion-toggle [(ngModel)]="gas"></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>Grugstore</ion-label>
      <ion-toggle [(ngModel)]="drugstore"></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>Hotels</ion-label>
      <ion-toggle [(ngModel)]="hotels"></ion-toggle>
    </ion-item>

    <ion-item class="toggle-item">
      <ion-label>Grocery Stores</ion-label>
      <ion-toggle [(ngModel)]="grocery"></ion-toggle>
    </ion-item>
  </ion-list>
</div>
