<ng-container *ngIf="isDirectionSet">
  <div class="navigation-buttons-div" (click)="presentModal()">
    <p>
      <span class="green">{{ timeLeft }} </span><br />
      {{ distance }} | {{ fare }}
    </p>
  </div>
</ng-container>

<div *ngIf="isIndoorDirectionsSet" class="indoor-timefooter-wrapper ">
  <div class="from-wrapper">
    <span>From</span>
  </div>
  <div class="arrow-wrapper">
    <div class="">
      ->
    </div>
  </div>
  <div class="to-wrapper">
    <span>To</span>
  </div>
  <div class="button-wrapper">
    <button type="button" name="button">NEXT</button>
  </div>
</div>
