<ng-container *ngIf="isDirectionSet">
  <div class="navigation-buttons-div" (click)="presentModal()">
    <p>
      <span class="green">{{ timeLeft }} </span><br />
      {{ distance }} | {{ fare }}
    </p>
  </div>
</ng-container>

<div *ngIf="isIndoorDirectionsSet" class="indoor-timefooter-wrapper ">
  <div *ngIf="!isInRoute" class="footer-elements-wrapper">
    <button type="button" name="button" (click)="initRoute()">START</button>
  </div>

  <div *ngIf="currentStep && isInRoute" class="footer-elements-wrapper">
    <div class="from-wrapper">
      <span>{{currentStep.source}}</span>
    </div>
    <div class="arrow-wrapper">
      <div class="">
        ->
      </div>
    </div>
    <div class="to-wrapper">
      <span>{{currentStep.dest}}</span>
    </div>
    <div class="button-wrapper">
      <button type="button" name="button" (click)="getNextStep()" *ngIf="!currentStep.isLast">NEXT</button>
      <button type="button" name="button" (click)="endRoute()" *ngIf="currentStep.isLast">END</button>
    </div>
  </div>
</div>
