<ion-list>
  <ion-item>
    <img src="/assets/icon/language-icon.png" class = "lang-icon">
    <ion-label>Language</ion-label>
    <ion-item id="language-selection">
      <ion-select
              [(ngModel)]="appLanguage"
              class="select-language"
              interface="popover"
              placeholder="English"
              (ionChange)="languageChange()"
      >
        <ion-select-option value="english">English</ion-select-option>
        <ion-select-option value="french">French</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-icon name="logo-google" color="black" size="large"></ion-icon>
    <ion-label>Google Account</ion-label>
    <ion-button>
      <ion-icon name="link"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-icon name="code" color="black" size="large"></ion-icon>
    <ion-label>Source Code</ion-label>
    <ion-button>
      <ion-icon name="logo-github"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
