<ion-header>
  <ion-toolbar color="primary">
    <ion-button
      class="settings-button"
      id="button-settings"
      slot="end"
      size="large"
      fill="clear"
      shape="round"
      (click)="adjustSettings()"
    >
    <ion-icon name="settings" size="large"></ion-icon>
    </ion-button>
    <ion-item id="campus-change">
      <ion-select
        placeholder="Select Campus"
        interface="popover"
        [(ngModel)]="loc"
        (ionChange)="changeCampus()"
        class="select-campus"
        id="campus-select"
      >
        <ion-select-option value="0" id="campus-option-1">{{
          'campus1' | translate
        }}</ion-select-option>
        <ion-select-option value="1" id="campus-option-2">{{
          'campus2' | translate
        }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
  <ng-container *ngIf="isDirectionSet">
    <div class="navigation-buttons-div">
      <ion-button
        class="navigation-buttons"
        [style.color]="walkColor"
        shape="round"
        fill="outline"
        (click)="changeTravelMode('WALKING')" class="walkButton"
      >
        <ion-icon name="walk"></ion-icon>
      </ion-button>
      <ion-button
        class="navigation-buttons ion-float-end"
        [style.color]="transitColor"
        shape="round"
        fill="outline"
        (click)="changeTravelMode('TRANSIT')" class="transitButton"
      >
        <ion-icon name="train"></ion-icon>
      </ion-button>
      <ion-button
        class="navigation-buttons ion-float-end"
        [style.color]="carColor"
        shape="round"
        fill="outline"
        (click)="changeTravelMode('DRIVING')" class="driveButton"
      >
        <ion-icon name="car"></ion-icon>
      </ion-button>
    </div>
  </ng-container>

  <div class="parent">
    <div class="left">
      <ion-searchbar
        #search
        class="search-location"
        id="outdoor-search"
        [placeholder]="'location-searchbar' | translate"
      >
      </ion-searchbar>
    </div>
    <div class="right searchbar-color" id="search-right-div">
      <ion-button color="#fffff" class="searchbar-color" id="search-button" (click)="tryRecording()">
        <ion-icon class="mic-icon" name="mic" id="icon-mic"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-header>
