<ion-header>
  <ion-toolbar color="primary">
    <ion-button
      class="settings-button"
      slot="end"
      size="large"
      fill="clear"
      shape="round"
      (click)="adjustSettings()"
    >
      <ion-icon name="settings" size="large"></ion-icon>
    </ion-button>
    <ion-item id="campus-change">
      <ion-select
        placeholder="Select Campus"
        interface="popover"
        [(ngModel)]="loc"
        (ionChange)="changeCampus()"
        class="select-campus"
        id="campus-select"
      >
        <ion-select-option value="0" id="campus-option-1">{{
          'campus1' | translate
        }}</ion-select-option>
        <ion-select-option value="1" id="campus-option-2">{{
          'campus2' | translate
        }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
  <ng-container *ngIf="isDirectionSet">
    <div class="navigation-buttons-div">
      <ion-button
        class="navigation-buttons"
        [style.color]="walkColor"
        shape="round"
        fill="outline"
        (click)="changeTravelMode('WALKING')"
      >
        <ion-icon name="walk"></ion-icon>
      </ion-button>
      <ion-button
        class="navigation-buttons ion-float-end"
        [style.color]="transitColor"
        shape="round"
        fill="outline"
        (click)="changeTravelMode('TRANSIT')"
      >
        <ion-icon name="train"></ion-icon>
      </ion-button>
      <ion-button
        class="navigation-buttons ion-float-end"
        [style.color]="carColor"
        shape="round"
        fill="outline"
        (click)="changeTravelMode('DRIVING')"
      >
        <ion-icon name="car"></ion-icon>
      </ion-button>
    </div>
  </ng-container>

  <ion-searchbar
    #search
    class="search-location"
    [placeholder]="'location-searchbar' | translate"
    (ionClear)="closeAutocomplete($event)"
  ></ion-searchbar>
</ion-header>
