#campus-change {
  --background: var(--ConcordiaRed);
  --background-activated: var(--ConcordiaRed);
  --inner-padding-bottom: 0px;
  color: white;
  display: contents;
}

.select-campus {
  max-width: fit-content;
  margin: auto;
  position: relative;
  padding-right: -45px;
}

.search-location {
  position: relative;
  display: contents;
  padding: 0;
  --box-shadow: none;
}

.sc-ion-searchbar-ios-h {
  padding: 0;
  display: contents;
}

.searchbar-input-container .sc-ion-searchbar-ios {
  height: 40px;
}

.settings-button {
  --color: white;
}

.navigation-buttons-div {
  display: flex;
  justify-content: space-around;
  background-color: var(--ConcordiaRed);
}

.navigation-buttons {
  color: white;
  text-transform: none;
  max-width: fit-content;
  --border-color: white;
}

.back-button {
  --color: white;
  --shape: round;
  --size: large;
  padding-right: 0.5em;
}

.mic-icon {
  color: #929292;
}

.parent {
  display: flex;
}

.left {
  width: 90%;
}

.right {
  flex: 1;
}

.searchbar-color {
  background: #ffffff;
  --box-shadow: none;
}
