#floor-change {
  --background: var(--ConcordiaRed);
  --background-activated: var(--ConcordiaRed);
  --inner-padding-bottom: 0px;
  padding-left: 4em;
  color: white;
}

.select-floor {
  position: relative;
  max-width: fit-content;
}

.building {
  --background: var(--ConcordiaRed);
  --background-activated: var(--ConcordiaRed);
  color: white;
}

.up-button, .down-button {
  color: black;
  text-transform: none;
  --background: #d6d6c2;
  max-width: fit-content;
}

.up-button {
  padding-left: 5em;
  padding-right: 4em;
}

.search-location {
  position: relative;
  padding: 0;
}

.sc-ion-searchbar-ios-h {
  padding: 0;
  display: contents;
}

.searchbar-input-container .sc-ion-searchbar-ios {
  height: 40px;
}


