<ion-header>
    <ion-toolbar color="primary">
        <ion-button slot="end" size="large" fill="solid" shape="round">
            <ion-icon name="settings" size="large"></ion-icon>
        </ion-button>
        <ion-item slot="start" class="building">{{building}}</ion-item>

        <ion-item id="floor-change">
            <ion-select
                    (ionChange)="changeFloor()"
                    [(ngModel)]="updateFloor"
                    [selectedText]=currentFloor.valueOf()
                    class="select-floor"
                    id='floor-item'
                    interface="popover"
                    placeholder="1">
                <ion-select-option [value]="floor"
                                   *ngFor="let floor of floors | slice: minFloorIndex:maxFloorIndex">{{floor}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-toolbar>

    <ion-button
            class="up-button"
            (click)="moveUpFloor()"
    >
        Move Up
    </ion-button>
    <ion-button
            class="down-button"
            (click)="moveDownFloor()"
    >
        Move Down
    </ion-button>
    <ion-searchbar
            class="search-location"
            placeholder="Search for a location.."
            autocomplete="on"
    ></ion-searchbar>
</ion-header>
