<div class="h9-plan-wrapper" id="h9-plan-wrapper">
  <ion-scroll zooming="true" direction="xy">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
      <g display="inline" id="layer4">
        <g
          transform="matrix(-0.99582912,0,0,-0.99239778,1021.6871,1021.4805) "
          id="g4587"
        >
          <rect
            fill="#ffffff"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect3365"
            width="1007.1639"
            height="927.04303"
            x="10.026763"
            y="46.91369"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h927"
            width="60.09816"
            height="48.992397"
            x="10.026763"
            y="325.98459"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h927"
            width="60.09816"
            height="45.456867"
            x="10.026763"
            y="374.97699"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h925"
            width="83.836746"
            height="115.66246"
            x="10.026763"
            y="420.43387"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h925"
            width="58.083767"
            height="56.063465"
            x="93.863511"
            y="459.32474"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h925"
            width="58.083771"
            height="38.890869"
            x="93.863511"
            y="420.43387"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h923"
            width="141.41544"
            height="112.632"
            x="10.026763"
            y="536.09631"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h921"
            width="141.41544"
            height="92.42897"
            x="10.026763"
            y="648.72833"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h919"
            width="141.41544"
            height="92.42894"
            x="10.026763"
            y="741.15729"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h917"
            width="141.41544"
            height="141.79906"
            x="10.026763"
            y="833.58624"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h913"
            width="95.964493"
            height="141.79904"
            x="238.820398"
            y="833.58624"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h911"
            width="89.903572"
            height="141.79904"
            x="334.784888"
            y="833.58624"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h909"
            width="91.418808"
            height="141.79904"
            x="424.688458"
            y="833.58624"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h907"
            width="89.398506"
            height="149.37518"
            x="516.107278"
            y="826.01007"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4165"
            width="64.144676"
            height="53.033039"
            x="516.107278"
            y="826.01007"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h907"
            width="180.31221"
            height="149.37521"
            x="605.505778"
            y="826.01007"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4169"
            width="66.165009"
            height="34.850262"
            x="785.817968"
            y="833.58624"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h967"
            width="140.45891"
            height="235.23814"
            x="876.731728"
            y="740.14716"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h965"
            width="140.45891"
            height="93.439133"
            x="875.303163"
            y="646.70801"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="60.656864"
            height="46.467018"
            x="956.533788"
            y="489.542635"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="60.656853"
            height="89.398499"
            x="956.533788"
            y="398.71558"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="60.656853"
            height="46.972095"
            x="956.533788"
            y="351.74347"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="60.656853"
            height="44.951775"
            x="956.533788"
            y="306.79169"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="60.656853"
            height="46.972088"
            x="956.533788"
            y="259.81961"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="55.101025"
            height="43.941647"
            x="962.089638"
            y="215.87796"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="55.101006"
            height="45.45686"
            x="962.089638"
            y="170.4211"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="55.101006"
            height="46.467014"
            x="962.089638"
            y="123.95408"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="46.467018"
            height="61.469692"
            x="922.693638"
            y="48.342255"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="47.477142"
            height="61.469692"
            x="875.216468"
            y="48.342255"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="44.446682"
            height="61.469692"
            x="830.769818"
            y="48.342255"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="44.446739"
            height="61.469692"
            x="786.323098"
            y="48.342255"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="44.446735"
            height="61.469692"
            x="741.876378"
            y="48.342255"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="45.456882"
            height="61.469692"
            x="696.419468"
            y="48.342255"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="110.6117"
            height="56.063465"
            x="822.688578"
            y="135.06577"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="110.61185"
            height="94.449234"
            x="822.688578"
            y="191.12923"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="55.55854"
            height="21.718307"
            x="877.741858"
            y="285.57846"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="55.558575"
            height="43.436577"
            x="877.741858"
            y="307.29675"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="185.36301"
            height="51.012703"
            x="637.325598"
            y="196.68506"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4228"
            width="71.215767"
            height="96.974655"
            x="751.472818"
            y="247.69775"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="stairs-sw"
            width="53.53809"
            height="96.974648"
            x="697.934728"
            y="247.69775"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4234"
            width="60.609131"
            height="36.870575"
            x="637.325598"
            y="247.69775"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4236"
            width="60.609131"
            height="60.104073"
            x="637.325598"
            y="284.56833"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4238"
            width="26.263969"
            height="22.72842"
            x="671.670758"
            y="321.94397"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="38.890881"
            height="61.619293"
            x="783.797708"
            y="135.06577"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="41.921345"
            height="61.619293"
            x="741.876378"
            y="135.06577"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m653.488038,135.06577l88.38834,0l0,61.61929l-104.55078,0l0,-30.80965l16.16244,-30.80964z"
            id="h961"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m652.997048,48.34375l0,46.3125l10.09375,0l0,15.15625l33.34375,0l0,-61.46875l-43.4375,0z"
            id="h961"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m10.028298,48.34375l0,191.28125l179.28125,0l0,-72.24889l16.6875,-15.65736l0,-103.375l-195.96875,0z"
            id="h929"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m150.937128,155.77388l29.28774,0l9.58976,11.12833l-0.50508,51.50113l-38.37242,0l0,-62.62946z"
            id="rect4259"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m296.278753,97.025136l28.065108,-12.458893l40.692011,0.168012l15.020373,32.377141l-62.191128,27.948249l-21.586365,-48.034509z"
            id="h933"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m317.865114,145.059636l112.001013,-50.332455l0.025842,42.019783l-11.5538,-0.087586l-86.810152,38.803284l-13.662903,-30.403026z"
            id="h933"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m337.310268,48.34226l0,36.27752l27.7256,0.11447l15.02037,32.37714l49.80989,-22.38421l0,-46.38492l-92.55586,0z"
            id="h933"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m429.891968,136.74696l96.8219,0l13.63706,-29.46039l0,-58.94432l-110.4848,0l0.02584,88.40471z"
            id="h937"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m663.090798,109.8125l-24.24999,0l-29.29443,64.64921l-82.83251,-37.71475l13.63706,-29.46039l0,-58.94432l112.64612,0.0015l0,46.3125l10.09375,0l0,15.15625z"
            id="h937"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m205.997048,151.71875l17.68163,17.68163l105.12499,0l-32.52492,-72.37524l28.06511,-12.4589l12.96641,0.05354l0,-36.27752l-131.31322,0.0015l0,103.37499z"
            id="h933"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m331.528018,175.46266l25.9853,51.52698l51.51778,61.11423l124.75384,0l52.02286,-60.10408l23.73858,-53.53808l-82.83251,-37.71475l-96.8219,-0.002l-11.5538,-0.0855l-86.81015,38.8032z"
            id="h937"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m421.152928,288.10387l0,48.48732c32.82996,12.62691 69.65311,10.02829 100.51018,0l0,-48.48732l-100.51018,0z"
            id="h937"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4336"
            width="53.538086"
            height="45.456863"
            x="521.663128"
            y="288.10388"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m546.940818,272.90436l15.63347,15.19952l41.41625,0l0,-17.1726l-32.0548,-26.90454l-24.99492,28.87762z"
            id="path4338"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m603.990538,270.93128l5.47973,0l0,-56.217l-17.77173,0l-5.89074,13.28551l-13.87206,16.02695l32.0548,26.90454z"
            id="path4340"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m609.470268,214.71428l0,-40.08092l-17.77173,40.08092l17.77173,0z"
            id="path4342"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m409.031098,288.10387l-29.04188,0l16.80782,-14.51295l12.23406,14.51295z"
            id="path4344"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m313.220258,169.40038l0,-17.36467l6.32779,-3.23116l9.25562,20.59583l-15.58341,0z"
            id="path4346"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m210.363118,195.07143l0,53.21428l50.35714,0l0,-59.28571l-44.64285,0l-5.71429,6.07143z"
            id="path4348"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4350"
            width="45.000103"
            height="59.28569"
            x="260.720258"
            y="189"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="stairs-se"
            width="52.5"
            height="96.428596"
            x="282.863108"
            y="248.28569"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4357"
            width="72.499985"
            height="96.428574"
            x="210.363118"
            y="248.28571"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m305.720358,189l0,59.28569l29.64275,0l-29.64275,-59.28569z"
            id="path4359"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m91.434548,330.4375l0,66.78125l-21.3125,0l0,23.21875l119.53125,0l0,-90l-98.21875,0z"
            id="h927"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m189.309548,239.625l0,73.30357l-16.80357,0l0,17.50893l-81.07143,0l0,66.78125l-21.30963,0l0,-71.23416l-60.09816,0l0.00154,-86.35959l179.28125,0z"
            id="h927"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m238.820398,833.58624l-59.88585,0l0,30.7709l-27.49235,0l0,111.02814l87.3782,0l0,-141.79904z"
            id="h915"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m249.434548,468.40625l0,59.09375l19.1875,0l0,59.09375l-19.1875,0l0,57.59375l179.8125,0l0,-175.78125l-179.8125,0z"
            id="h920"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4372"
            width="57.578693"
            height="59.093925"
            x="211.041208"
            y="527.51001"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m268.622048,527.5l36.02679,-59.09375"
            id="path4377"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m268.619898,586.59375l34.60036,57.59375"
            id="path4379"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="wc-male"
            width="97.492615"
            height="131.3125"
            x="331.754438"
            y="644.1875"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="stairs-ne"
            width="52.022858"
            height="131.3125"
            x="279.731578"
            y="644.1875"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4390"
            width="69.19545"
            height="29.794643"
            x="210.536128"
            y="644.1875"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4392"
            width="69.19545"
            height="101.51785"
            x="210.536128"
            y="673.98212"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="57.142857"
            height="26.428572"
            x="877.148838"
            y="372.21429"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="57.14291"
            height="45.71431"
            x="877.148838"
            y="398.64285"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="57.142891"
            height="44.285732"
            x="877.148838"
            y="444.35718"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h961"
            width="57.142838"
            height="45.950836"
            x="877.148838"
            y="488.64291"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m243.372048,413.375l0,55.03125l185.875,0l0,307.09375l48.46875,0l0,-307.09375l0,-55.03125l-234.34375,0z"
            id="h980"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m834.2783,534.59375l0,52.96875l26.8125,0l0,59.15625l156.09375,0l0,-112.125l-156.09375,0l-26.8125,0z"
            id="h963"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m822.684548,285.59375l0,40.1875l17.6875,0l0,18.90625l37.375,0l0,-59.09375l-55.0625,0z"
            id="rect4415"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h968"
            width="157.50002"
            height="92.142845"
            x="719.648838"
            y="372.21429"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4422"
            width="89.285721"
            height="52.14286"
            x="787.863138"
            y="464.35715"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4424"
            width="42.870544"
            height="18.093742"
            x="834.278298"
            y="516.5"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4426"
            width="46.415161"
            height="42.857136"
            x="787.863138"
            y="516.5"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4428"
            width="53.558033"
            height="43.928577"
            x="780.720258"
            y="559.35712"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h966"
            width="111.61768"
            height="92.142845"
            x="608.031168"
            y="372.21429"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h966"
            width="49.49749"
            height="46.199253"
            x="558.533668"
            y="372.21429"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h966"
            width="49.497498"
            height="45.943592"
            x="558.533668"
            y="418.41354"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4438"
            width="38.890888"
            height="52.04121"
            x="569.140298"
            y="464.35715"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4440"
            width="38.890865"
            height="86.873123"
            x="569.140298"
            y="516.39838"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="h962"
            width="85.35788"
            height="138.91437"
            x="608.031168"
            y="464.35715"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m693.389048,603.27151l87.33121,0l0,-43.91439l7.14288,0l0,-94.99997l-94.47409,0l0,138.91436z"
            id="h964"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="stairs-nw"
            width="93.43911"
            height="136.87567"
            x="731.774818"
            y="644.18262"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="stairs-nw"
            width="54.043182"
            height="96.469597"
            x="731.774818"
            y="644.18262"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4454"
            width="34.850243"
            height="38.385822"
            x="696.924598"
            y="644.18262"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4458"
            width="60.609104"
            height="28.881376"
            x="636.315408"
            y="653.68719"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="elevator"
            width="68.690369"
            height="38.385822"
            x="567.625038"
            y="644.18262"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4464"
            width="54.548225"
            height="108.08635"
            x="513.076818"
            y="644.18262"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            d="m567.622048,696.21875l0,56.0625l13.625,0l20.21875,0l0,28.78125l130.3125,0l0,-84.84375l-164.15625,0z"
            id="wc-female"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4468"
            width="54.548237"
            height="52.527916"
            x="601.465188"
            y="728.5304"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2.011846"
            stroke-miterlimit="4"
            id="rect4473"
            width="68.170227"
            height="28.793533"
            x="513.076818"
            y="752.26898"
          />
          <rect
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2"
            stroke-miterlimit="4"
            transform="matrix(-1.0041883,0,0,-1.0076605,1025.9663,1029.3055) "
            y="53.510307"
            x="148.612115"
            height="106.13573"
            width="90.534554"
            id="h903"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2"
            stroke-miterlimit="4"
            id="rect4698"
            d="m1017.202061,123.95403l0,-75.606027l-48.044134,0l0,61.46729l-7.060699,0l0,14.138736l7.060699,0l48.044134,0z"
          />
          <path
            fill="#cccccc"
            stroke="#000000"
            stroke-width="2"
            stroke-miterlimit="4"
            id="path4703"
            d="m562.574325,288.10384l-15.633465,-15.199521l-13.155881,15.199511l28.789346,0.00001z"
          />

          <!-- Nodes -->
          <circle cx="472" cy="220" r="50" fill="transparent" id="h937" />
          <circle cx="860" cy="358" r="50" fill="transparent" id="h961" />
          <circle cx="723" cy="327" r="50" fill="transparent" id="stairs-sw" />
          <circle cx="745" cy="398" r="50" fill="transparent" id="h968" />
          <circle cx="627" cy="390" r="50" fill="transparent" id="h966" />
          <circle cx="586" cy="587" r="50" fill="transparent" id="h960" />
          <circle cx="630" cy="581" r="50" fill="transparent" id="h962" />
          <circle cx="781" cy="587" r="50" fill="transparent" id="h964" />
          <circle cx="876" cy="599" r="50" fill="transparent" id="h963" />
          <circle cx="896" cy="695" r="50" fill="transparent" id="h965" />
          <circle cx="898" cy="802" r="50" fill="transparent" id="h967" />
          <circle cx="670" cy="663" r="50" fill="transparent" id="elevators" />
          <circle cx="757" cy="661" r="50" fill="transparent" id="stairs-nw" />
          <circle cx="533" cy="672" r="50" fill="transparent" id="h914" />
          <circle cx="531" cy="727" r="50" fill="transparent" id="h908" />
          <circle cx="528" cy="762" r="50" fill="transparent" id="h906" />
          <circle cx="590" cy="736" r="50" fill="transparent" id="h904" />
          <circle cx="618" cy="762" r="50" fill="transparent" id="wc-female" />
          <circle cx="815" cy="845" r="50" fill="transparent" id="h903" />
          <circle cx="533" cy="834" r="50" fill="transparent" id="h907" />
          <circle cx="498" cy="844" r="50" fill="transparent" id="h909" />
          <circle cx="408" cy="844" r="50" fill="transparent" id="h911" />
          <circle cx="307" cy="844" r="50" fill="transparent" id="h913" />
          <circle cx="195" cy="847" r="50" fill="transparent" id="h915" />
          <circle cx="136" cy="845" r="50" fill="transparent" id="h917" />
          <circle cx="137" cy="752" r="50" fill="transparent" id="h919" />
          <circle cx="136" cy="663" r="50" fill="transparent" id="h921" />
          <circle cx="132" cy="627" r="50" fill="transparent" id="h923" />
          <circle cx="125" cy="487" r="50" fill="transparent" id="h925" />
          <circle cx="150" cy="310" r="50" fill="transparent" id="h927" />
          <circle cx="453" cy="750" r="50" fill="transparent" id="h980-1" />
          <circle cx="448" cy="429" r="50" fill="transparent" id="h980-2" />
          <circle cx="262" cy="441" r="50" fill="transparent" id="h980-3" />
          <circle cx="408" cy="753" r="50" fill="transparent" id="wc-male" />
          <circle cx="307" cy="753" r="50" fill="transparent" id="stairs-ne" />
          <circle cx="238" cy="556" r="50" fill="transparent" id="h920" />
          <circle cx="310" cy="327" r="50" fill="transparent" id="stairs-se" />
          <circle
            cx="553"
            cy="535"
            r="50"
            fill="transparent"
            id="escalators-up"
          />
          <circle
            cx="543"
            cy="445"
            r="50"
            fill="transparent"
            id="escalators-down"
          />

          <!-- Lines -->
          <line
            x1="472"
            y1="220"
            x2="580"
            y2="272"
            style="stroke:transparent; stroke-width:6"
            id="line1"
          />
          <line
            x1="580"
            y1="272"
            x2="619"
            y2="357"
            style="stroke:transparent; stroke-width:6"
            id="line2"
          />
          <line
            x1="619"
            y1="357"
            x2="627"
            y2="390"
            style="stroke:transparent; stroke-width:6"
            id="line11"
          />
          <line
            x1="619"
            y1="357"
            x2="723"
            y2="357"
            style="stroke:transparent; stroke-width:6"
            id="line12"
          />
          <line
            x1="723"
            y1="357"
            x2="723"
            y2="327"
            style="stroke:transparent; stroke-width:6"
            id="line13"
          />
          <line
            x1="723"
            y1="357"
            x2="745"
            y2="398"
            style="stroke:transparent; stroke-width:6"
            id="line14"
          />
          <line
            x1="723"
            y1="357"
            x2="860"
            y2="358"
            style="stroke:transparent; stroke-width:6"
            id="line15"
          />
          <line
            x1="619"
            y1="357"
            x2="517"
            y2="357"
            style="stroke:transparent; stroke-width:6"
            id="line16"
          />
          <line
            x1="517"
            y1="357"
            x2="448"
            y2="429"
            style="stroke:transparent; stroke-width:6"
            id="line17"
          />
          <line
            x1="517"
            y1="357"
            x2="517"
            y2="445"
            style="stroke:transparent; stroke-width:6"
            id="line18"
          />
          <line
            x1="517"
            y1="622"
            x2="498"
            y2="622"
            style="stroke:transparent; stroke-width:6"
            id="line19"
          />
          <line
            x1="498"
            y1="622"
            x2="498"
            y2="672"
            style="stroke:transparent; stroke-width:6"
            id="line20"
          />
          <line
            x1="498"
            y1="672"
            x2="533"
            y2="672"
            style="stroke:transparent; stroke-width:6"
            id="line21"
          />
          <line
            x1="498"
            y1="672"
            x2="498"
            y2="727"
            style="stroke:transparent; stroke-width:6"
            id="line22"
          />
          <line
            x1="498"
            y1="727"
            x2="531"
            y2="727"
            style="stroke:transparent; stroke-width:6"
            id="line23"
          />
          <line
            x1="517"
            y1="622"
            x2="586"
            y2="622"
            style="stroke:transparent; stroke-width:6"
            id="line24"
          />
          <!--HERE -->
          <line
            x1="586"
            y1="622"
            x2="586"
            y2="658"
            style="stroke:transparent; stroke-width:6"
            id="line25"
          />
          <line
            x1="586"
            y1="622"
            x2="630"
            y2="622"
            style="stroke:transparent; stroke-width:6"
            id="line26"
          />
          <line
            x1="670"
            y1="622"
            x2="670"
            y2="663"
            style="stroke:transparent; stroke-width:6"
            id="line27"
          />
          <!--HERE -->
          <line
            x1="670"
            y1="622"
            x2="757"
            y2="622"
            style="stroke:transparent; stroke-width:6"
            id="line28"
          />
          <line
            x1="757"
            y1="622"
            x2="757"
            y2="661"
            style="stroke:transparent; stroke-width:6"
            id="line29"
          />
          <line
            x1="757"
            y1="622"
            x2="781"
            y2="622"
            style="stroke:transparent; stroke-width:6"
            id="line30"
          />
          <line
            x1="781"
            y1="622"
            x2="781"
            y2="587"
            style="stroke:transparent; stroke-width:6"
            id="line31"
          />
          <line
            x1="781"
            y1="622"
            x2="845"
            y2="622"
            style="stroke:transparent; stroke-width:6"
            id="line32"
          />
          <line
            x1="845"
            y1="622"
            x2="876"
            y2="599"
            style="stroke:transparent; stroke-width:6"
            id="line33"
          />
          <line
            x1="845"
            y1="622"
            x2="845"
            y2="695"
            style="stroke:transparent; stroke-width:6"
            id="line34"
          />
          <line
            x1="845"
            y1="695"
            x2="896"
            y2="695"
            style="stroke:transparent; stroke-width:6"
            id="line35"
          />
          <line
            x1="845"
            y1="695"
            x2="845"
            y2="802"
            style="stroke:transparent; stroke-width:6"
            id="line36"
          />
          <line
            x1="845"
            y1="802"
            x2="898"
            y2="802"
            style="stroke:transparent; stroke-width:6"
            id="line37"
          />
          <line
            x1="845"
            y1="802"
            x2="815"
            y2="845"
            style="stroke:transparent; stroke-width:6"
            id="line38"
          />
          <line
            x1="498"
            y1="727"
            x2="498"
            y2="802"
            style="stroke:transparent; stroke-width:6"
            id="line39"
          />
          <line
            x1="845"
            y1="802"
            x2="618"
            y2="802"
            style="stroke:transparent; stroke-width:6"
            id="line40"
          />
          <line
            x1="618"
            y1="802"
            x2="618"
            y2="762"
            style="stroke:transparent; stroke-width:6"
            id="line41"
          />
          <!-- HERE -->
          <line
            x1="618"
            y1="802"
            x2="590"
            y2="802"
            style="stroke:transparent; stroke-width:6"
            id="line42"
          />
          <line
            x1="533"
            y1="802"
            x2="533"
            y2="834"
            style="stroke:transparent; stroke-width:6"
            id="line43"
          />
          <!-- HERE -->
          <line
            x1="533"
            y1="802"
            x2="528"
            y2="802"
            style="stroke:transparent; stroke-width:6"
            id="line44"
          />
          <line
            x1="528"
            y1="802"
            x2="528"
            y2="762"
            style="stroke:transparent; stroke-width:6"
            id="line45"
          />
          <line
            x1="528"
            y1="802"
            x2="498"
            y2="802"
            style="stroke:transparent; stroke-width:6"
            id="line46"
          />
          <line
            x1="498"
            y1="802"
            x2="498"
            y2="844"
            style="stroke:transparent; stroke-width:6"
            id="line47"
          />
          <line
            x1="498"
            y1="802"
            x2="453"
            y2="802"
            style="stroke:transparent; stroke-width:6"
            id="line48"
          />
          <line
            x1="453"
            y1="802"
            x2="453"
            y2="750"
            style="stroke:transparent; stroke-width:6"
            id="line49"
          />
          <line
            x1="453"
            y1="802"
            x2="408"
            y2="802"
            style="stroke:transparent; stroke-width:6"
            id="line50"
          />
          <line
            x1="408"
            y1="802"
            x2="408"
            y2="844"
            style="stroke:transparent; stroke-width:6"
            id="line51"
          />
          <line
            x1="408"
            y1="802"
            x2="408"
            y2="753"
            style="stroke:transparent; stroke-width:6"
            id="line52"
          />
          <line
            x1="408"
            y1="802"
            x2="307"
            y2="802"
            style="stroke:transparent; stroke-width:6"
            id="line53"
          />
          <line
            x1="307"
            y1="802"
            x2="307"
            y2="844"
            style="stroke:transparent; stroke-width:6"
            id="line54"
          />
          <line
            x1="307"
            y1="802"
            x2="307"
            y2="753"
            style="stroke:transparent; stroke-width:6"
            id="line55"
          />
          <line
            x1="307"
            y1="802"
            x2="195"
            y2="802"
            style="stroke:transparent; stroke-width:6"
            id="line56"
          />
          <line
            x1="195"
            y1="802"
            x2="195"
            y2="847"
            style="stroke:transparent; stroke-width:6"
            id="line57"
          />
          <line
            x1="195"
            y1="802"
            x2="178"
            y2="802"
            style="stroke:transparent; stroke-width:6"
            id="line58"
          />
          <line
            x1="178"
            y1="802"
            x2="136"
            y2="845"
            style="stroke:transparent; stroke-width:6"
            id="line59"
          />
          <line
            x1="178"
            y1="802"
            x2="178"
            y2="752"
            style="stroke:transparent; stroke-width:6"
            id="line60"
          />
          <line
            x1="178"
            y1="752"
            x2="137"
            y2="752"
            style="stroke:transparent; stroke-width:6"
            id="line61"
          />
          <line
            x1="178"
            y1="752"
            x2="178"
            y2="663"
            style="stroke:transparent; stroke-width:6"
            id="line62"
          />
          <line
            x1="178"
            y1="663"
            x2="136"
            y2="663"
            style="stroke:transparent; stroke-width:6"
            id="line63"
          />
          <line
            x1="178"
            y1="663"
            x2="178"
            y2="627"
            style="stroke:transparent; stroke-width:6"
            id="line65"
          />
          <line
            x1="178"
            y1="627"
            x2="132"
            y2="627"
            style="stroke:transparent; stroke-width:6"
            id="line66"
          />
          <line
            x1="178"
            y1="627"
            x2="178"
            y2="556"
            style="stroke:transparent; stroke-width:6"
            id="line67"
          />
          <line
            x1="178"
            y1="556"
            x2="238"
            y2="556"
            style="stroke:transparent; stroke-width:6"
            id="line68"
          />
          <line
            x1="178"
            y1="556"
            x2="178"
            y2="487"
            style="stroke:transparent; stroke-width:6"
            id="line69"
          />
          <line
            x1="178"
            y1="487"
            x2="125"
            y2="487"
            style="stroke:transparent; stroke-width:6"
            id="line70"
          />
          <line
            x1="178"
            y1="487"
            x2="202"
            y2="441"
            style="stroke:transparent; stroke-width:6"
            id="line71"
          />
          <line
            x1="202"
            y1="441"
            x2="262"
            y2="441"
            style="stroke:transparent; stroke-width:6"
            id="line72"
          />
          <line
            x1="202"
            y1="310"
            x2="202"
            y2="441"
            style="stroke:transparent; stroke-width:6"
            id="line73"
          />
          <line
            x1="202"
            y1="310"
            x2="150"
            y2="310"
            style="stroke:transparent; stroke-width:6"
            id="line74"
          />
          <line
            x1="239"
            y1="377"
            x2="202"
            y2="441"
            style="stroke:transparent; stroke-width:6"
            id="line85"
          />
          <line
            x1="239"
            y1="377"
            x2="310"
            y2="377"
            style="stroke:transparent; stroke-width:6"
            id="line86"
          />
          <line
            x1="310"
            y1="377"
            x2="310"
            y2="327"
            style="stroke:transparent; stroke-width:6"
            id="line87"
          />
          <line
            x1="310"
            y1="377"
            x2="373"
            y2="377"
            style="stroke:transparent; stroke-width:6"
            id="line88"
          />
          <line
            x1="373"
            y1="377"
            x2="517"
            y2="357"
            style="stroke:transparent; stroke-width:6"
            id="line89"
          />
          <line
            x1="586"
            y1="622"
            x2="586"
            y2="587"
            style="stroke:transparent; stroke-width:6"
            id="line91"
          />
          <line
            x1="630"
            y1="622"
            x2="630"
            y2="581"
            style="stroke:transparent; stroke-width:6"
            id="line92"
          />
          <line
            x1="630"
            y1="622"
            x2="670"
            y2="622"
            style="stroke:transparent; stroke-width:6"
            id="line93"
          />
          <line
            x1="590"
            y1="802"
            x2="590"
            y2="736"
            style="stroke:transparent; stroke-width:6"
            id="line94"
          />
          <line
            x1="590"
            y1="802"
            x2="533"
            y2="802"
            style="stroke:transparent; stroke-width:6"
            id="line95"
          />
          <line
            x1="517"
            y1="445"
            x2="543"
            y2="445"
            style="stroke:transparent; stroke-width:6"
            id="line97"
          />
          <line
            x1="517"
            y1="445"
            x2="517"
            y2="535"
            style="stroke:transparent; stroke-width:6"
            id="line98"
          />
          <line
            x1="517"
            y1="535"
            x2="553"
            y2="535"
            style="stroke:transparent; stroke-width:6"
            id="line99"
          />
          <line
            x1="517"
            y1="535"
            x2="517"
            y2="622"
            style="stroke:transparent; stroke-width:6"
            id="line100"
          />

          <!--marker-->
          <image
            id="marker"
            href="../../../../assets/icon/logo_as_marker.png"
            height="50"
            width="50"
            x="560"
            y="500"
          />
        </g>
        <!--right side-->
        <text x="925" y="120">917</text>
        <text x="925" y="245">919</text>
        <text x="925" y="340">921</text>
        <text x="925" y="440">923</text>
        <text x="925" y="750">927</text>
        <text x="925" y="930">929</text>

        <!--left side-->
        <text x="65" y="120">967</text>
        <text x="65" y="450">963</text>


        <!--top-->
        <text x="815" y="120">915</text>
        <text x="725" y="120">913</text>
        <text x="630" y="120">911</text>
        <text x="540" y="120">909</text>
        <text x="450" y="120">907</text>
        <text x="330" y="120">903</text>

        <!--bottom-->
        <text x="540" y="820">937</text>
        <text x="420" y="930">941</text>
        <text x="750" y="930">933</text>

        <!--center-->
        <text x="255" y="340">998</text>
        <text x="320" y="290">902</text>
        <text x="465" y="265">906</text>
        <text x="470" y="340">908</text>
        <text x="410" y="370">992</text>
        <text x="558" y="475">980</text>
        <text x="630" y="320">910</text>
        <text x="705" y="320">990</text>
        <text x="762" y="320">986</text>
        <text x="660" y="475">920</text>
        <text x="270" y="500">964</text>
        <text x="362" y="500">962</text>
        <text x="425" y="470">960</text>

        <text x="210" y="610">968</text>
        <text x="350" y="610">966</text>
        <text x="287" y="735">975</text>
        <text x="345" y="763">981</text>
        <text x="287" y="805">945</text>
        <text x="325" y="860">943</text>
        <text x="700" y="730">985</text>
        <text x="728" y="810">932</text>
        <text x="780" y="810">928</text>
        <!-- poi markers -->
        <image
                id="elevator-marker"
                href="../../../../assets/icon/logo_as_marker.png"
                height="50"
                width="50"
                x="670"
                y="663"
                visibility="hidden"
        />
        <image
                id="stairs-nw-marker"
                href="../../../../assets/icon/logo_as_marker.png"
                height="50"
                width="50"
                x="757"
                y="661"
                visibility="hidden"
        />
        <image
                id="stairs-sw-marker"
                href="../../../../assets/icon/logo_as_marker.png"
                height="50"
                width="50"
                x="723"
                y="327"
                visibility="hidden"
        />
        <image
                id="stairs-se-marker"
                href="../../../../assets/icon/logo_as_marker.png"
                height="50"
                width="50"
                x="310"
                y="327"
                visibility="hidden"
        />
        <image
                id="stairs-ne-marker"
                href="../../../../assets/icon/logo_as_marker.png"
                height="50"
                width="50"
                x="307"
                y="753"
                visibility="hidden"
        />
        <image
                id="wc-male-marker"
                href="../../../../assets/icon/logo_as_marker.png"
                height="50"
                width="50"
                x="408"
                y="753"
                visibility="hidden"
        />
        <image
                id="wc-female-marker"
                href="../../../../assets/icon/logo_as_marker.png"
                height="50"
                width="50"
                x="618"
                y="762"
                visibility="hidden"
        />
        <image
                id="escalator-up-marker"
                href="../../../../assets/icon/logo_as_marker.png"
                height="50"
                width="50"
                x="553"
                y="535"
                visibility="hidden"
        />
        <image
                id="escalator-down-marker"
                href="../../../../assets/icon/logo_as_marker.png"
                height="50"
                width="50"
                x="543"
                y="445"
                visibility="hidden"
        />
      </g>
    </svg>
  </ion-scroll>
</div>
