<div class="input-group">
  <input
    id="fromAddress"
    placeholder=""
    type="text"
    (keydown.enter)="$event.preventDefault()"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="off"
    #from
    required
  />
  <span class="highlight"></span>
  <span class="bar"></span>
  <label id="location-label">{{ 'start-location' | translate }}</label>
</div>

<div class="input-group">
  <input
    id="toAddress"
    placeholder=""
    type="text"
    (keydown.enter)="$event.preventDefault()"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="off"
    #to
    required
  />
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>{{ 'end-location' | translate }}</label>
</div>

<ion-button id="goButton" (click)="updateMap()" shape="square">{{
  'go' | translate
}}</ion-button>
