<ion-fab vertical="start" horizontal="start" slot="fixed">
  <ion-fab-button>
    <ion-icon
      name="calendar"
      (click)="openCalendar()"
    ></ion-icon>
  </ion-fab-button>
  <ion-fab-button>
    <ion-icon
      *ngIf="!poiClicked"
      name="pin"
      (click)="presentPopover($event, 'poi')" class="pinButton"
    ></ion-icon>
    <ion-icon
      *ngIf="poiClicked"
      name="close"
      (click)="presentPopover($event, 'poi')" class="closeButton"
    ></ion-icon>
  </ion-fab-button>
  <ion-fab-button id="bus-button">
    <ion-icon name="bus" (click)="openViewer()" class="busButton"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab
  vertical="bottom"
  horizontal="start"
  slot="fixed"
  [style.bottom.px]="bottomStyle"
  >
  <ion-row class="center-items">
    <ion-fab-button class="nav-button" id="navigation-button">
      <ion-icon
      name="compass"
      (click)="presentPopover($event, 'search')"
      ></ion-icon>
    </ion-fab-button>

    <ion-button
      class="ml1"
      (click)="createRoute($event)"
      [selectedPoiName]="selectedPoiName"
      [hidden]="!isPoiSelected"
      >
      Go to {{selectedPoiName}}
    </ion-button>
  </ion-row>

  <ng-container *ngIf="isDirectionSet || isClassToBuilding">
    <ion-fab-button class="close-button" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ng-container>
  <ng-container *ngIf="isDirectionSet && isClassToClass">
    <ion-fab-button class="close-button" (click)="next()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>
  </ng-container>
</ion-fab>