<ion-fab vertical="start" horizontal="start" slot="fixed">
  <ion-fab-button>
    <ion-icon name="calendar"></ion-icon>
  </ion-fab-button>
  <ion-fab-button>
    <ion-icon
      *ngIf="!poiClicked"
      name="pin"
      (click)="presentPopover($event, 'poi')" class="pinButton"
    ></ion-icon>
    <ion-icon
      *ngIf="poiClicked"
      name="close"
      (click)="presentPopover($event, 'poi')" class="closeButton"
    ></ion-icon>
  </ion-fab-button>
  <ion-fab-button>
    <ion-icon name="bus" (click)="openViewer()" class="busButton"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab
  vertical="bottom"
  horizontal="start"
  slot="fixed"
  [style.bottom.px]="bottomStyle"
>
  <ion-fab-button class="nav-button">
    <ion-icon
      name="compass"
      (click)="presentPopover($event, 'search')"
    ></ion-icon>
  </ion-fab-button>
  <ng-container *ngIf="isDirectionSet">
    <ion-fab-button class="close-button" (click)="close()" class="directionCloseButton">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ng-container>
</ion-fab>
