/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~angular-calendar/scss/angular-calendar.scss';

@include cal-theme(
    (
      event-color-primary: #1f262d
    )
);

.alert-wrapper {
  display: block;
}

.alert-title {
  text-align: center;
}

.alert-sub-title {
  text-align: center;
}

.alert-message {
  color: var(--ConcordiaRed) !important;
}

.alert-button-group {
  position: relative !important;
  flex-direction: row !important;
  align-content: center !important;
  justify-content: flex-start !important;
}
.alert-button-go {
}

.alert-button-enter {
  padding-left: 10% !important;
}

.alert-button-map,
.alert-button-go {
  color: #000000 !important;
  width: 40%;
  display: inline-flex;
}

.alert-button-cancel {
  opacity: 0 !important;
  width: 0.1em;
  display: none !important;
}

ion-backdrop {
  position: fixed;
}

.popover-arrow {
  display: none !important;
}

ion-fab-button {
  --background-activated: white;
  --background-focused: white;
}

ion-searchbar {
  .searchbar-input-container {
    .searchbar-input {
      border-radius: 0px !important;
      box-shadow: none !important;
    }
  }
}
