.h8-plan-wrapper {
  display: contents;

  svg {
    transform: scale(1.5);
    left: 20%;
    position: relative;
    bottom: -100px;
  }

  text{
    fill: #1e2023;
    font-size: 14px;
    font-weight: bold;
  }

}
