<div class="h8-plan-wrapper" id="h8-plan-wrapper">
  <ion-scroll zooming="true" direction="xy">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
      <g display="inline" id="layer2">
        <rect
          fill="#ffffff"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          id="rect3007"
          width="682.14288"
          height="625.71429"
          x="32.844936"
          y="200.929438"
        />

        <!-- Right Side Classes -->
        <rect
          id="h811"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="66.428574"
          height="92.142853"
          x="430.059216"
          y="200.929438"
        />
        <rect
          id="h813"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="55.714294"
          height="92.142853"
          x="496.487796"
          y="200.929438"
        />
        <path
          id="h815"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m619.702076,200.929438l0,71.42857l-18.92857,0l0,20.71428l-48.57141,0l0,-92.14285l67.49998,0z"
        />
        <rect
          id="h817"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="94.285744"
          height="91.785706"
          x="619.702096"
          y="200.929438"
        />
        <rect
          id="h819"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="94.285721"
          height="66.071434"
          x="619.702096"
          y="292.715148"
        />
        <rect
          id="h821"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="94.285721"
          height="57.499996"
          x="619.702096"
          y="358.786588"
        />
        <rect
          id="h823"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="94.285721"
          height="66.071426"
          x="619.702096"
          y="416.286588"
        />
        <rect
          id="h825"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="94.285721"
          height="57.499992"
          x="619.702096"
          y="482.357998"
        />
        <rect
          id="h827"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="94.285721"
          height="65.000015"
          x="619.702096"
          y="539.857998"
        />
        <rect
          id="h829-01"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="94.285721"
          height="63.214279"
          x="619.702096"
          y="604.857998"
        />
        <path
          id="h829-02"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m638.987796,729.143698l0,-17.49998l-18.57143,0l-0.71427,-43.57144l94.28572,0l-0.00002,61.07142l-75,0z"
        />
        <rect
          id="h831"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="94.642883"
          height="97.500015"
          x="619.344916"
          y="729.143698"
        />
        <rect
          id="h833"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="61.785694"
          height="97.500031"
          x="557.559216"
          y="729.143698"
        />
        <rect
          id="h835"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="62.857132"
          height="97.500031"
          x="494.702066"
          y="729.143698"
        />
        <rect
          id="h837"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="63.214272"
          height="97.500031"
          x="431.487796"
          y="729.143698"
        />
        <!-- Center Right Side Classes -->
        <path
          id="h820"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="2"
          stroke-miterlimit="4"
          d="m430.115703,420.412372l0,118.023387l121.976629,0l0,-38.575986l-12.752392,0l0,-40.722638l12.752392,0l0,-38.724764l-121.976629,0z"
        />
        <rect
          id="h822"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="83.571426"
          height="85.714287"
          x="496.487796"
          y="538.429408"
        />
        <rect
          id="h832-02"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="28.214294"
          height="65.178596"
          x="468.273506"
          y="624.143698"
        />
        <rect
          id="h832-03"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="25.00128"
          height="21.993006"
          x="430.113716"
          y="646.436428"
        />
        <rect
          id="h832-01"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="25.00128"
          height="20.892859"
          x="430.113716"
          y="668.429408"
        />
        <rect
          id="h832-05"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="25.00128"
          height="43.184021"
          x="430.113716"
          y="603.252408"
        />
        <path
          id="h832-06"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="2"
          stroke-miterlimit="4"
          d="m430.115703,538.435759l0,64.824659l24.994688,0l0,20.892669l41.381512,0l0,-20.892669l0,-64.824659l-66.3762,0z"
        />
        <!-- Left Side Classes -->
        <rect
          id="h807"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="63.92857"
          height="92.142838"
          x="310.237796"
          y="200.929438"
        />
        <rect
          id="h805-03"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="55.714287"
          height="37.321423"
          x="254.523506"
          y="200.929438"
        />
        <rect
          id="h805-02"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="42.499992"
          height="27.142853"
          x="267.737796"
          y="238.250848"
        />
        <rect
          id="h805-01"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="42.499992"
          height="27.678572"
          x="267.737796"
          y="265.393698"
        />
        <rect
          id="h803"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="66.785721"
          height="92.142853"
          x="187.737786"
          y="200.929438"
        />
        <rect
          id="h801"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="60.714279"
          height="92.142853"
          x="127.023506"
          y="200.929438"
        />
        <rect
          id="h867"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="95.178574"
          height="69.821426"
          x="31.844936"
          y="200.929438"
        />
        <rect
          id="h865"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="77.85714"
          height="24.10714"
          x="31.844936"
          y="270.750878"
        />
        <path
          id="h863"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m127.20209,356.28659l0,-47.14287l-17.50001,0l0,-14.2857l-77.85714,0l0,61.42857l95.35715,0z"
        />
        <rect
          id="h861"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="95.357147"
          height="61.42857"
          x="31.844936"
          y="356.286588"
        />
        <rect
          id="h859"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="95.357147"
          height="62.499996"
          x="31.844936"
          y="417.715148"
        />
        <rect
          id="h857"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="95.357147"
          height="60.000027"
          x="31.844936"
          y="480.215148"
        />
        <rect
          id="h855"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="95.357147"
          height="62.857143"
          x="31.844936"
          y="540.215178"
        />
        <rect
          id="h853"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="95.357147"
          height="62.142883"
          x="31.844936"
          y="603.072288"
        />
        <rect
          id="h851-02"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="64.285713"
          height="31.785732"
          x="31.844936"
          y="665.215178"
        />
        <rect
          id="h851-03"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="50.35714"
          height="31.785723"
          x="31.844936"
          y="697.000878"
        />
        <rect
          id="h849"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="91.071426"
          height="97.857147"
          x="31.844936"
          y="728.786588"
        />
        <rect
          id="h847"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="67.499992"
          height="97.857147"
          x="122.916366"
          y="728.786588"
        />
        <rect
          id="h845"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="56.42857"
          height="97.857147"
          x="190.416356"
          y="728.786588"
        />
        <rect
          id="h843"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="67.142868"
          height="97.857147"
          x="246.844936"
          y="728.786588"
        />
        <rect
          id="h841"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="59.285713"
          height="97.857155"
          x="313.987796"
          y="728.786588"
        />
        <!-- Center Left TOP Side Classes -->
        <rect
          id="h806-01"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="36.428558"
          height="26.428568"
          x="337.559216"
          y="341.286588"
        />
        <rect
          id="h806-02"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="36.428566"
          height="24.642849"
          x="337.559216"
          y="367.715148"
        />
        <rect
          id="h806-03"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="36.428574"
          height="27.5"
          x="337.559216"
          y="392.357998"
        />
        <!-- Center Left BOTTOM Side Classes -->
        <rect
          id="h862"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="63.214272"
          height="88.214294"
          x="248.987786"
          y="454.857998"
        />
        <rect
          id="h860-04"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="33.928566"
          height="57.142864"
          x="215.059226"
          y="454.857998"
        />
        <rect
          id="h860-06"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="33.928558"
          height="31.07143"
          x="215.059226"
          y="512.000878"
        />
        <rect
          id="h860-01"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="34.28574"
          height="29.285812"
          x="170.059226"
          y="454.857998"
        />
        <rect
          id="h860-03"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="34.285713"
          height="27.857143"
          x="170.059226"
          y="484.143728"
        />
        <path
          id="h860-05"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m215.059226,543.250868l0,-19.46429l-10.35715,0l-0.35714,-11.7857l-34.28571,0l0,31.24999l45,0z"
        />
        <path
          id="h854"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m170.059226,543.250868l0,57.67856l52.85714,0l0,-7.14285l26.24999,0l0,-50.71429l-79.10713,0.17858z"
        />
        <rect
          id="h852"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="52.85717"
          height="22.857094"
          x="170.059226"
          y="600.929408"
        />
        <path
          id="h842"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m249.166356,543.072288l0,69.64286l17.67858,0l0,10.53571l45.35713,0l-0.00001,-80.17857l-63.0357,0z"
        />
        <path
          id="h838"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m312.202066,650.572278l0,26.1687l38.36214,0l0,12.12183l24.74874,0l-0.25373,-38.29053l-62.85715,0z"
        />
        <!-- Bathrooms -->
        <!-- Female -->
        <rect
          id="wc-female"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="111.42858"
          height="61.785713"
          x="226.130636"
          y="330.572288"
        />
        <!-- Male -->
        <rect
          id="wc-male"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="64.649765"
          height="89.398499"
          x="429.811143"
          y="331.016258"
        />
        <!-- escalatorss Area -->
        <rect
          id="escalators-area"
          fill="transparent"
          stroke="transparent"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="50"
          height="195.71428"
          x="337.202066"
          y="454.857998"
        />
        <rect
          id="escalators-area-close"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="25"
          height="195.71428"
          x="312.202066"
          y="454.857998"
        />
        <!-- Stairs -->
        <rect
          id="stairs-ne"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="36.01004"
          height="89.398483"
          x="494.763496"
          y="331.016258"
        />
        <rect
          id="stairs-nw"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="62.142857"
          height="90.35714"
          x="163.987786"
          y="330.572288"
        />
        <rect
          id="stairs-sw"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="36.07143"
          height="65.714287"
          x="213.987786"
          y="623.786588"
        />
        <rect
          id="stairs-se"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="36.428562"
          height="65.178596"
          x="496.487796"
          y="624.143698"
        />
        <!-- Elevators -->
        <rect
          id="elevator-area"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="21.785721"
          height="28.571426"
          x="226.130636"
          y="392.357998"
        />
        <rect
          id="elevator"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="22.500006"
          height="23.571428"
          x="247.916356"
          y="392.357998"
        />
        <rect
          id="elevator"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          width="20"
          height="23.571421"
          x="270.416356"
          y="392.357998"
        />

        <!-- NODE POINTS-->
        <circle cx="465" cy="270" r="50" fill="transparent" id="h811" />
        <!-- 11 -->
        <circle cx="520" cy="270" r="50" fill="transparent" id="h813" />
        <!-- 13-->
        <circle cx="580" cy="270" r="50" fill="transparent" id="h815" />
        <!-- 15 -->
        <circle cx="640" cy="280" r="50" fill="transparent" id="h817" />
        <!-- 17 -->
        <circle cx="640" cy="320" r="50" fill="transparent" id="h819" />
        <!-- 19 -->
        <circle cx="640" cy="400" r="50" fill="transparent" id="h821" />
        <!-- 21 -->
        <circle cx="640" cy="450" r="50" fill="transparent" id="h823" />
        <!-- 23 -->
        <circle cx="640" cy="520" r="50" fill="transparent" id="h825" />
        <!-- 25 -->
        <circle cx="640" cy="580" r="50" fill="transparent" id="h827" />
        <!-- 27 -->
        <circle cx="640" cy="620" r="50" fill="transparent" id="h829-01" />
        <!-- 29A -->

        <circle cx="630" cy="750" r="50" fill="transparent" id="h831" />
        <!-- 31 -->
        <circle cx="580" cy="750" r="50" fill="transparent" id="h833" />
        <!-- 33 -->
        <circle cx="520" cy="750" r="50" fill="transparent" id="h835" />
        <!-- 35 -->
        <circle cx="460" cy="750" r="50" fill="transparent" id="h837" />
        <!-- 37 -->

        <circle cx="350" cy="750" r="50" fill="transparent" id="h841" />
        <!-- 41 -->
        <circle cx="280" cy="750" r="50" fill="transparent" id="h843" />
        <!-- 43 -->
        <circle cx="220" cy="750" r="50" fill="transparent" id="h845" />
        <!-- 45 -->
        <circle cx="150" cy="750" r="50" fill="transparent" id="h847" />
        <!-- 47 -->
        <circle cx="100" cy="750" r="50" fill="transparent" id="h849" />
        <!-- 49 -->

        <circle cx="70" cy="710" r="50" fill="transparent" id="h851" />
        <!-- 51 -->
        <circle cx="110" cy="630" r="50" fill="transparent" id="h853" />
        <!-- 53 -->
        <circle cx="110" cy="580" r="50" fill="transparent" id="h855" />
        <!-- 55 -->
        <circle cx="110" cy="510" r="50" fill="transparent" id="h857" />
        <!-- 57 -->
        <circle cx="110" cy="450" r="50" fill="transparent" id="h859" />
        <!-- 59 -->
        <circle cx="110" cy="400" r="50" fill="transparent" id="h861" />
        <!-- 61 -->
        <circle cx="110" cy="330" r="50" fill="transparent" id="h863" />
        <!-- 63 -->
        <circle cx="90" cy="285" r="50" fill="transparent" id="h865" />
        <!-- 65 -->
        <circle cx="120" cy="250" r="50" fill="transparent" id="h867" />
        <!-- 67 -->

        <circle cx="160" cy="270" r="50" fill="transparent" id="h801" />
        <!-- 01 -->
        <circle cx="210" cy="270" r="50" fill="transparent" id="h803" />
        <!-- 03 -->
        <circle cx="290" cy="270" r="50" fill="transparent" id="h805" />
        <!-- 05 -->
        <circle cx="350" cy="270" r="50" fill="transparent" id="h807" />
        <!-- 07 -->

        <circle cx="200" cy="400" r="50" fill="transparent" id="stairs-nw" />
        <!-- stairs-nw -->
        <circle cx="270" cy="400" r="50" fill="transparent" id="elevators" />
        <!-- elevators -->
        <circle cx="270" cy="350" r="50" fill="transparent" id="wc-female" />
        <!-- wc-female -->
        <circle cx="350" cy="380" r="50" fill="transparent" id="h806" />
        <!-- 06 -->

        <circle cx="465" cy="350" r="50" fill="transparent" id="wc-male" />
        <!-- wc-male -->
        <circle cx="520" cy="350" r="50" fill="transparent" id="stairs-ne" />
        <!-- stairs-ne -->
        <circle cx="520" cy="480" r="50" fill="transparent" id="h820" />
        <!-- 20 -->
        <circle cx="560" cy="580" r="50" fill="transparent" id="h822" />
        <!-- 22 -->
        <circle cx="520" cy="670" r="50" fill="transparent" id="stairs-se" />
        <!-- stairs-se -->
        <circle cx="460" cy="670" r="50" fill="transparent" id="h832" />
        <!-- 32 -->

        <circle cx="210" cy="480" r="50" fill="transparent" id="h860" />
        <!-- 60 -->
        <circle cx="270" cy="480" r="50" fill="transparent" id="h862" />
        <!-- 62 -->
        <circle
          cx="360"
          cy="470"
          r="50"
          fill="transparent"
          id="escalators-up"
        />
        <!-- escalators-up -->
        <circle
          cx="360"
          cy="590"
          r="50"
          fill="transparent"
          id="escalators-down"
        />
        <!-- escalators-down -->
        <circle cx="360" cy="670" r="50" fill="transparent" id="h838" />
        <!-- 38 -->
        <circle cx="300" cy="590" r="50" fill="transparent" id="h842" />
        <!-- 42 -->
        <circle cx="230" cy="670" r="50" fill="transparent" id="stairs-sw" />
        <!-- stairs-sw -->
        <circle cx="180" cy="610" r="50" fill="transparent" id="h852" />
        <!-- 52 -->
        <circle cx="180" cy="580" r="50" fill="transparent" id="h854" />
        <!-- 54 -->

        <!-- LINES -->
        <line
          x1="465"
          y1="270"
          x2="465"
          y2="315"
          style="stroke:transparent; stroke-width:4"
          id="line1"
        />
        <line
          x1="465"
          y1="315"
          x2="465"
          y2="350"
          style="stroke:transparent; stroke-width:4"
          id="line2"
        />
        <line
          x1="465"
          y1="315"
          x2="520"
          y2="315"
          style="stroke:transparent; stroke-width:4"
          id="line3"
        />
        <line
          x1="520"
          y1="315"
          x2="520"
          y2="270"
          style="stroke:transparent; stroke-width:4"
          id="line4"
        />
        <line
          x1="520"
          y1="315"
          x2="520"
          y2="350"
          style="stroke:transparent; stroke-width:4"
          id="line5"
        />
        <line
          x1="520"
          y1="315"
          x2="580"
          y2="315"
          style="stroke:transparent; stroke-width:4"
          id="line6"
        />
        <line
          x1="580"
          y1="315"
          x2="580"
          y2="270"
          style="stroke:transparent; stroke-width:4"
          id="line7"
        />
        <line
          x1="580"
          y1="315"
          x2="600"
          y2="315"
          style="stroke:transparent; stroke-width:4"
          id="line8"
        />
        <line
          x1="600"
          y1="315"
          x2="610"
          y2="315"
          style="stroke:transparent; stroke-width:4"
          id="line9"
        />
        <line
          x1="610"
          y1="315"
          x2="610"
          y2="280"
          style="stroke:transparent; stroke-width:4"
          id="line10"
        />
        <line
          x1="610"
          y1="280"
          x2="640"
          y2="280"
          style="stroke:transparent; stroke-width:4"
          id="line11"
        />
        <line
          x1="600"
          y1="315"
          x2="600"
          y2="320"
          style="stroke:transparent; stroke-width:4"
          id="line12"
        />
        <line
          x1="600"
          y1="320"
          x2="640"
          y2="320"
          style="stroke:transparent; stroke-width:4"
          id="line13"
        />
        <line
          x1="600"
          y1="315"
          x2="600"
          y2="400"
          style="stroke:transparent; stroke-width:4"
          id="line14"
        />
        <line
          x1="600"
          y1="400"
          x2="640"
          y2="400"
          style="stroke:transparent; stroke-width:4"
          id="line15"
        />
        <line
          x1="600"
          y1="400"
          x2="600"
          y2="450"
          style="stroke:transparent; stroke-width:4"
          id="line16"
        />
        <line
          x1="600"
          y1="450"
          x2="640"
          y2="450"
          style="stroke:transparent; stroke-width:4"
          id="line17"
        />
        <line
          x1="520"
          y1="450"
          x2="600"
          y2="450"
          style="stroke:transparent; stroke-width:4"
          id="line18"
        />
        <line
          x1="520"
          y1="450"
          x2="520"
          y2="480"
          style="stroke:transparent; stroke-width:4"
          id="line19"
        />
        <line
          x1="600"
          y1="450"
          x2="600"
          y2="520"
          style="stroke:transparent; stroke-width:4"
          id="line20"
        />
        <line
          x1="600"
          y1="520"
          x2="640"
          y2="520"
          style="stroke:transparent; stroke-width:4"
          id="line21"
        />
        <line
          x1="600"
          y1="520"
          x2="600"
          y2="580"
          style="stroke:transparent; stroke-width:4"
          id="line22"
        />
        <line
          x1="600"
          y1="580"
          x2="640"
          y2="580"
          style="stroke:transparent; stroke-width:4"
          id="line23"
        />
        <line
          x1="600"
          y1="580"
          x2="560"
          y2="580"
          style="stroke:transparent; stroke-width:4"
          id="line24"
        />
        <line
          x1="600"
          y1="580"
          x2="600"
          y2="620"
          style="stroke:transparent; stroke-width:4"
          id="line25"
        />
        <line
          x1="600"
          y1="620"
          x2="640"
          y2="620"
          style="stroke:transparent; stroke-width:4"
          id="line26"
        />
        <line
          x1="600"
          y1="620"
          x2="600"
          y2="680"
          style="stroke:transparent; stroke-width:4"
          id="line27"
        />
        <line
          x1="600"
          y1="680"
          x2="600"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line29"
        />
        <line
          x1="600"
          y1="680"
          x2="600"
          y2="720"
          style="stroke:transparent; stroke-width:4"
          id="line30"
        />
        <line
          x1="600"
          y1="720"
          x2="630"
          y2="720"
          style="stroke:transparent; stroke-width:4"
          id="line31"
        />
        <line
          x1="630"
          y1="720"
          x2="630"
          y2="750"
          style="stroke:transparent; stroke-width:4"
          id="line32"
        />
        <line
          x1="600"
          y1="710"
          x2="580"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line33"
        />
        <line
          x1="580"
          y1="710"
          x2="580"
          y2="750"
          style="stroke:transparent; stroke-width:4"
          id="line34"
        />
        <line
          x1="580"
          y1="710"
          x2="520"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line35"
        />
        <line
          x1="520"
          y1="710"
          x2="520"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line36"
        />
        <line
          x1="520"
          y1="710"
          x2="520"
          y2="670"
          style="stroke:transparent; stroke-width:4"
          id="line37"
        />
        <line
          x1="520"
          y1="710"
          x2="520"
          y2="750"
          style="stroke:transparent; stroke-width:4"
          id="line38"
        />
        <line
          x1="520"
          y1="710"
          x2="460"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line39"
        />
        <line
          x1="460"
          y1="710"
          x2="460"
          y2="670"
          style="stroke:transparent; stroke-width:4"
          id="line40"
        />
        <line
          x1="460"
          y1="710"
          x2="460"
          y2="750"
          style="stroke:transparent; stroke-width:4"
          id="line41"
        />
        <line
          x1="400"
          y1="710"
          x2="360"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line42"
        />
        <line
          x1="400"
          y1="710"
          x2="400"
          y2="590"
          style="stroke:transparent; stroke-width:4"
          id="line43"
        />
        <line
          x1="400"
          y1="590"
          x2="360"
          y2="590"
          style="stroke:transparent; stroke-width:4"
          id="line44"
        />
        <line
          x1="400"
          y1="590"
          x2="400"
          y2="440"
          style="stroke:transparent; stroke-width:4"
          id="line45"
        />
        <line
          x1="460"
          y1="710"
          x2="400"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line46"
        />
        <line
          x1="360"
          y1="710"
          x2="360"
          y2="670"
          style="stroke:transparent; stroke-width:4"
          id="line47"
        />
        <line
          x1="360"
          y1="710"
          x2="350"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line48"
        />
        <line
          x1="350"
          y1="710"
          x2="350"
          y2="750"
          style="stroke:transparent; stroke-width:4"
          id="line49"
        />
        <line
          x1="350"
          y1="710"
          x2="300"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line50"
        />
        <line
          x1="300"
          y1="710"
          x2="300"
          y2="590"
          style="stroke:transparent; stroke-width:4"
          id="line51"
        />
        <line
          x1="300"
          y1="710"
          x2="280"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line52"
        />
        <line
          x1="280"
          y1="710"
          x2="280"
          y2="750"
          style="stroke:transparent; stroke-width:4"
          id="line53"
        />
        <line
          x1="280"
          y1="710"
          x2="230"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line54"
        />
        <line
          x1="230"
          y1="710"
          x2="230"
          y2="670"
          style="stroke:transparent; stroke-width:4"
          id="line55"
        />
        <line
          x1="230"
          y1="710"
          x2="220"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line56"
        />
        <line
          x1="220"
          y1="710"
          x2="220"
          y2="750"
          style="stroke:transparent; stroke-width:4"
          id="line57"
        />
        <line
          x1="220"
          y1="710"
          x2="150"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line58"
        />
        <line
          x1="150"
          y1="710"
          x2="150"
          y2="720"
          style="stroke:transparent; stroke-width:4"
          id="line59"
        />
        <line
          x1="150"
          y1="710"
          x2="150"
          y2="750"
          style="stroke:transparent; stroke-width:4"
          id="line60"
        />
        <line
          x1="150"
          y1="710"
          x2="100"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line61"
        />
        <line
          x1="100"
          y1="710"
          x2="100"
          y2="750"
          style="stroke:transparent; stroke-width:4"
          id="line62"
        />
        <line
          x1="100"
          y1="710"
          x2="70"
          y2="710"
          style="stroke:transparent; stroke-width:4"
          id="line63"
        />
        <line
          x1="150"
          y1="710"
          x2="150"
          y2="630"
          style="stroke:transparent; stroke-width:4"
          id="line64"
        />
        <line
          x1="150"
          y1="630"
          x2="110"
          y2="630"
          style="stroke:transparent; stroke-width:4"
          id="line65"
        />
        <line
          x1="150"
          y1="630"
          x2="150"
          y2="610"
          style="stroke:transparent; stroke-width:4"
          id="line66"
        />
        <line
          x1="150"
          y1="610"
          x2="180"
          y2="610"
          style="stroke:transparent; stroke-width:4"
          id="line67"
        />
        <line
          x1="150"
          y1="610"
          x2="150"
          y2="580"
          style="stroke:transparent; stroke-width:4"
          id="line68"
        />
        <line
          x1="150"
          y1="580"
          x2="110"
          y2="580"
          style="stroke:transparent; stroke-width:4"
          id="line69"
        />
        <line
          x1="150"
          y1="580"
          x2="180"
          y2="580"
          style="stroke:transparent; stroke-width:4"
          id="line70"
        />
        <line
          x1="150"
          y1="580"
          x2="150"
          y2="510"
          style="stroke:transparent; stroke-width:4"
          id="line71"
        />
        <line
          x1="150"
          y1="510"
          x2="110"
          y2="510"
          style="stroke:transparent; stroke-width:4"
          id="line72"
        />
        <line
          x1="150"
          y1="510"
          x2="150"
          y2="450"
          style="stroke:transparent; stroke-width:4"
          id="line73"
        />
        <line
          x1="150"
          y1="450"
          x2="110"
          y2="450"
          style="stroke:transparent; stroke-width:4"
          id="line74"
        />
        <line
          x1="150"
          y1="450"
          x2="150"
          y2="440"
          style="stroke:transparent; stroke-width:4"
          id="line75"
        />
        <line
          x1="150"
          y1="440"
          x2="200"
          y2="440"
          style="stroke:transparent; stroke-width:4"
          id="line76"
        />
        <line
          x1="200"
          y1="440"
          x2="200"
          y2="400"
          style="stroke:transparent; stroke-width:4"
          id="line77"
        />
        <line
          x1="200"
          y1="440"
          x2="210"
          y2="440"
          style="stroke:transparent; stroke-width:4"
          id="line78"
        />
        <line
          x1="210"
          y1="440"
          x2="210"
          y2="480"
          style="stroke:transparent; stroke-width:4"
          id="line79"
        />
        <line
          x1="210"
          y1="440"
          x2="270"
          y2="440"
          style="stroke:transparent; stroke-width:4"
          id="line80"
        />
        <line
          x1="270"
          y1="440"
          x2="270"
          y2="400"
          style="stroke:transparent; stroke-width:4"
          id="line81"
        />
        <line
          x1="270"
          y1="440"
          x2="270"
          y2="480"
          style="stroke:transparent; stroke-width:4"
          id="line82"
        />
        <line
          x1="270"
          y1="440"
          x2="360"
          y2="440"
          style="stroke:transparent; stroke-width:4"
          id="line83"
        />
        <line
          x1="360"
          y1="440"
          x2="360"
          y2="470"
          style="stroke:transparent; stroke-width:4"
          id="line84"
        />
        <line
          x1="360"
          y1="440"
          x2="400"
          y2="440"
          style="stroke:transparent; stroke-width:4"
          id="line85"
        />
        <line
          x1="400"
          y1="440"
          x2="400"
          y2="380"
          style="stroke:transparent; stroke-width:4"
          id="line86"
        />
        <line
          x1="400"
          y1="380"
          x2="350"
          y2="380"
          style="stroke:transparent; stroke-width:4"
          id="line87"
        />
        <line
          x1="400"
          y1="380"
          x2="400"
          y2="315"
          style="stroke:transparent; stroke-width:4"
          id="line88"
        />
        <line
          x1="150"
          y1="440"
          x2="150"
          y2="400"
          style="stroke:transparent; stroke-width:4"
          id="line89"
        />
        <line
          x1="150"
          y1="400"
          x2="110"
          y2="400"
          style="stroke:transparent; stroke-width:4"
          id="line90"
        />
        <line
          x1="150"
          y1="400"
          x2="150"
          y2="330"
          style="stroke:transparent; stroke-width:4"
          id="line91"
        />
        <line
          x1="150"
          y1="330"
          x2="110"
          y2="330"
          style="stroke:transparent; stroke-width:4"
          id="line92"
        />
        <line
          x1="150"
          y1="330"
          x2="150"
          y2="300"
          style="stroke:transparent; stroke-width:4"
          id="line93"
        />
        <line
          x1="150"
          y1="300"
          x2="120"
          y2="300"
          style="stroke:transparent; stroke-width:4"
          id="line94"
        />
        <line
          x1="120"
          y1="300"
          x2="120"
          y2="285"
          style="stroke:transparent; stroke-width:4"
          id="line95"
        />
        <line
          x1="120"
          y1="285"
          x2="90"
          y2="285"
          style="stroke:transparent; stroke-width:4"
          id="line96"
        />
        <line
          x1="120"
          y1="285"
          x2="120"
          y2="250"
          style="stroke:transparent; stroke-width:4"
          id="line97"
        />
        <line
          x1="150"
          y1="300"
          x2="160"
          y2="300"
          style="stroke:transparent; stroke-width:4"
          id="line98"
        />
        <line
          x1="160"
          y1="300"
          x2="160"
          y2="270"
          style="stroke:transparent; stroke-width:4"
          id="line99"
        />
        <line
          x1="160"
          y1="300"
          x2="210"
          y2="300"
          style="stroke:transparent; stroke-width:4"
          id="line100"
        />
        <line
          x1="210"
          y1="300"
          x2="210"
          y2="270"
          style="stroke:transparent; stroke-width:4"
          id="line101"
        />
        <line
          x1="210"
          y1="300"
          x2="270"
          y2="300"
          style="stroke:transparent; stroke-width:4"
          id="line102"
        />
        <line
          x1="270"
          y1="300"
          x2="270"
          y2="350"
          style="stroke:transparent; stroke-width:4"
          id="line103"
        />
        <line
          x1="270"
          y1="300"
          x2="290"
          y2="300"
          style="stroke:transparent; stroke-width:4"
          id="line104"
        />
        <line
          x1="290"
          y1="300"
          x2="290"
          y2="270"
          style="stroke:transparent; stroke-width:4"
          id="line105"
        />
        <line
          x1="290"
          y1="300"
          x2="350"
          y2="300"
          style="stroke:transparent; stroke-width:4"
          id="line106"
        />
        <line
          x1="350"
          y1="300"
          x2="350"
          y2="270"
          style="stroke:transparent; stroke-width:4"
          id="line107"
        />
        <line
          x1="350"
          y1="300"
          x2="350"
          y2="315"
          style="stroke:transparent; stroke-width:4"
          id="line108"
        />
        <line
          x1="350"
          y1="315"
          x2="400"
          y2="315"
          style="stroke:transparent; stroke-width:4"
          id="line109"
        />
        <line
          x1="400"
          y1="315"
          x2="465"
          y2="315"
          style="stroke:transparent; stroke-width:4"
          id="line110"
        />

        <!--marker-->
        <image
          id="marker"
          href="../../../../assets/icon/logo_as_marker.png"
          height="50"
          width="50"
          x="560"
          y="500"
        />

        <!-- Ignoring lol Area -->
        <rect
          fill="#000000"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          id="rect3875"
          width="34.285713"
          height="34.285713"
          x="278.630656"
          y="330.572288"
        />
        <rect
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          id="rect3891"
          width="47.142853"
          height="27.499992"
          x="290.416356"
          y="392.357998"
        />
        <rect
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          id="rect3897"
          width="37.857155"
          height="29.999985"
          x="337.202066"
          y="620.572288"
        />
        <rect
          fill="#000000"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          id="rect3943"
          width="11.785714"
          height="12.770314"
          x="441.844946"
          y="331.016258"
        />
        <rect
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          id="rect3951"
          width="39.107143"
          height="40.714287"
          x="539.344916"
          y="459.143728"
        />
        <rect
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          id="rect3959"
          width="47.142864"
          height="65.178604"
          x="532.916386"
          y="624.143698"
        />
        <path
          fill="#da3636"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m430.113716,420.414758l0,182.83765"
          id="path3963"
        />
        <path
          fill="#da3636"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m468.273506,624.143698l-13.15851,0"
          id="path3973"
        />
        <path
          fill="#da3636"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m496.487796,538.429408l-66.37408,0"
          id="path3975"
        />
        <path
          fill="#da3636"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m539.344916,499.858018l-22.86315,38.57139"
          id="path3981"
        />
        <path
          fill="#da3636"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m539.344916,459.143728l-23.36823,-38.72898"
          id="path3983"
        />
        <path
          fill="#000000"
          stroke="#000000"
          stroke-width="2"
          stroke-miterlimit="4"
          id="rect4717"
          d="m222.910588,593.78114l0,18.937302l0,11.073327l26.248673,0l0.892667,0l0,16.323062l16.790649,0l0,-27.396389l-17.683317,0l0,-18.937302l-26.248673,0z"
        />
        <rect
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          id="rect3923"
          width="43.928551"
          height="65.714371"
          x="170.059226"
          y="622.248042"
        />
        <rect
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          id="rect3847"
          width="31.071428"
          height="40.357117"
          x="96.130653"
          y="665.215178"
        />
        <path
          fill="#da3636"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m373.987786,454.143708l0,127.89547"
          id="path3985"
        />
        <rect
          id="h8"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          id="rect3947"
          width="48.035873"
          height="70.091736"
          x="530.773506"
          y="331.016258"
        />
        <rect
          id="h8"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          id="rect3949"
          width="48.035843"
          height="19.306747"
          x="530.773506"
          y="401.107998"
        />
        <rect
          id="h8"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          id="rect3933"
          width="41.663605"
          height="24.376646"
          x="250.059216"
          y="665.124228"
        />
        <path
          id="h8"
          fill="#cccccc"
          stroke="#000000"
          stroke-width="1.360255"
          stroke-miterlimit="4"
          d="m291.722816,665.124228l0,-41.87337l-24.87788,0l0,16.87209l-16.78572,0l0,25.00128l41.6636,0z"
          id="path3937"
        />

        <!--right side-->
        <text x="650" y="250">817</text>
        <text x="650" y="330">819</text>
        <text x="650" y="395">821</text>
        <text x="650" y="455">823</text>
        <text x="650" y="515">825</text>
        <text x="650" y="580">827</text>
        <text x="650" y="640">829</text>
        <!--<text x="650" y="700">899.51</text>-->
        <text x="655" y="790">831</text>

        <!--left side-->
        <text x="65" y="245">867</text>
        <text x="57" y="288">865</text>
        <text x="65" y="330">863</text>
        <text x="65" y="395">861</text>
        <text x="65" y="450">859</text>
        <text x="65" y="515">857</text>
        <text x="65" y="580">855</text>
        <text x="65" y="640">853</text>
        <!--<text x="99" y="680">851</text>
        <text x="100" y="693">.01</text>
        <text x="40" y="685">851.02</text>
        <text x="45" y="712">851</text>
        <text x="45" y="725">.03</text>-->
        <text x="65" y="790">849</text>

        <!--top-->
        <text x="575" y="250">815</text>
        <text x="510" y="250">813</text>
        <text x="450" y="250">811</text>
        <!--<text x="390" y="250">809</text>-->
        <!--<text x="260" y="225">805.03</text>
        <text x="268" y="260">805.02</text>
        <text x="268" y="285">805.01</text>-->
        <text x="330" y="250">807</text>
        <text x="210" y="250">803</text>
        <text x="145" y="250">801</text>

        <!--bottom-->
        <text x="575" y="790">833</text>
        <text x="510" y="790">835</text>
        <text x="450" y="790">837</text>
        <!--<text x="390" y="790">839</text>-->
        <text x="270" y="790">841</text>
        <text x="330" y="790">843</text>
        <text x="205" y="790">845</text>
        <text x="145" y="790">847</text>

        <!--center-->
        <text x="180" y="370">898</text>
        <text x="245" y="370">802</text>
        <text x="300" y="410">892</text>
        <text x="270" y="510">862</text>
        <text x="200" y="580">854</text>
        <text x="270" y="580">842</text>
        <text x="330" y="670">838</text>
        <text x="185" y="615">852</text>
        <text x="220" y="670">875</text>
        <text x="260" y="682">881</text>
        <text x="505" y="670">885</text>
        <text x="520" y="590">822</text>
        <text x="470" y="485">820</text>
        <text x="450" y="370">810</text>
        <text x="500" y="370">890</text>

      </g>
    </svg>
  </ion-scroll>
</div>
