#campus-change {
  --background: var(--ConcordiaRed);
  --background-activated: var(--ConcordiaRed);
  --inner-padding-bottom: 0px;
  padding-left: 6em;
  color: white;
}

  .select-campus{
    position: absolute;
    max-width: fit-content;
  }

