#campus-change {
  --background: var(--ConcordiaRed);
  --background-activated: var(--ConcordiaRed);
  --inner-padding-bottom: 0px;
  padding-left: 4em;
  color: white;
}

.select-campus {
  position: absolute;
  max-width: fit-content;
}

.search-location {
  position: relative;
  padding: 0;
}

.sc-ion-searchbar-ios-h {
  padding: 0;
  display: contents;
}

.searchbar-input-container .sc-ion-searchbar-ios {
  height: 40px;
}

.select-campus {
  position: initial;
}
