<ion-fab vertical="start" horizontal="start" slot="fixed">
  <ion-fab-button>
    <ion-icon name="calendar"></ion-icon>
  </ion-fab-button>
  <ion-fab-button>
    <ion-icon name="pin" (click)="presentPopover($event, 'poi')"></ion-icon>
  </ion-fab-button>
  <ion-fab-button>
    <ion-icon name="bus"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button class="nav-button">
    <ion-icon name="compass"  (click)="presentPopover($event, 'search')"></ion-icon>
  </ion-fab-button>
</ion-fab>
